@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('conserve_header.png');
}

main {
    word-break: keep-all; // 단어를 기준으로 줄바꿈

    @include responsive(tablet-screens) { font-size: 20px; }
    @include responsive(pc-screens) { font-size: 22px; }

    .mobile-view {
        @include responsive(tablet-screens) {
            display: none;
        }
    }

    h3 {
        font-size: calc(1em + 14px);
    }

    .before-after-case-intro {
        margin-top: 60px;

        @include responsive(pc-screens) {
            margin-top: 120px;
        }
        
        .intro-flex {
            
            @include responsive(pc-screens) {
                @include flex_between();
            }

            .before-after {

                @include responsive(pc-screens) {
                    width: 720px; 
                }
                
                ul.angle-select {
                    @include flex_between();
                    border-top: 2px solid $bk4;
                    width: 100%;
                    
                    li {
                        position: relative;
                        width: calc(100% / 4);
                        height: 68px;
                        text-align: center;
                        border-left: 2px solid $bk4;
                        background-color: $bk6;
                        
                        
                        transition: color 0.7s;
                        
                        color: $bk3;
                        
                        @include responsive(tablet-screens) {
                            height: 76px;
                        }
                        
                        @include responsive(pc-screens) {
                            height: 80px;
                        }
                        
                        &:last-child {
                            border-right: 2px solid $bk4;
                        }
                        
                        
                        &.selected {
                            color: #000;
                            background-color: transparent;
                            
                            &::after {
                                scale: 1;
                            }
                            
                            span {
                                font-weight: 600; // semibold
                            }
                        }
                        
                        &:hover {
                            color: #000;
                            background-color: transparent;
                            
                            &::after {
                                scale: 1;
                            }
                            
                            span {
                                font-weight: 600; // semibold
                            }
                        }
                        
                        &::after {
                            position: absolute;
                            top: -1px;
                            content: '';
                            display: block;
                            width: 100%; height: 5px;
                            background-color: #000;
                            
                            transition: all 0.7s;
                            
                            scale: 0;
                        }
                        
                        span {
                            @include element_center();
                            width: 100%;
                            font-size: 20px;
                            
                            @include responsive(tablet-screens) {
                                font-size: 22px;
                            }
                            
                            @include responsive(pc-screens) {
                                font-size: 24px;
                            }
                        }
                    } // li
                } // ul.angle-select
                
                .before-after-img {
                    aspect-ratio: 24 / 19;
                    border: 2px solid $bk4;
                    position: relative;
                    overflow: hidden;
                    background-color: cadetblue;

                    @include responsive(pc-screens) {
                        height: 570px;
                    }

                    @mixin center() {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        // background-size: 928px 100%;
                        
                        &.background-img {
                          background-image: url("../image/conserve_case_before\(1\).png");
                            // @include full_bg('conserve_case_before\(1\).png');
                        }
                        
                        &.foreground-img {
                            background-image: url("../image/conserve_case_after\(1\).png");
                            // @include full_bg('conserve_case_after\(1\).png');
                          width: 50%;
                        }
                    }
                    .slider {
                      position: absolute;
                      -webkit-appearance: none;
                      appearance: none;
                      width: 100%;
                      height: 100%;
                      background: salmon;
                      outline: none;
                    //   margin: 0;
                    //   padding: 0;
                      transition: width .2s;
                      cursor: pointer;
                      @include center;
                  
                      &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 3px;
                        height: 705px;
                        background: white;
                        border: none;
                      }
                      &::-moz-range-thumb {
                        width: 3px;
                        height: 705px;
                        background: white;
                        border: none;
                      }
                      &::-ms-thumb {
                        width: 3px;
                        height: 705px;
                        background: white;
                        border: none;
                      }
                      &::-ms-fill-lower {
                        background: transparent;
                      }
                      &::-ms-fill-upper {
                        background: transparent;
                      }
                      &::-ms-track {
                        color: transparent;
                        background: transparent;
                        border: none;
                      }
                    }
                  
                    .slider-button {
                      $size: 48px;
                      pointer-events: none;
                      position: absolute;
                      width: $size;
                      height: $size;
                      border-radius: 50%;
                      background-color: transparent;
                      left: calc(69% - 24px);
                      top: calc(50% - 24px);
                      border: 3px solid #fff;
                      box-shadow: 0 0 12px rgba(51, 51, 51, 50%);
                      background: linear-gradient(to left, transparent 50%, #fefefe 50%);
                      @include center;
                  
                      @mixin arrow-helper() {
                        content: "";
                        display: inline-block;
                        border: 6px inset transparent;
                      }

                      &:before {
                        @include arrow-helper();
                        border-right: 6px solid #555555;
                        margin-right: 6px;
                      }

                      &:after {
                        @include arrow-helper();
                        border-left: 6px solid #fefefe;
                        margin-left: 6px;
                      }
                    } // slider-button
                } // before-after-img

                  *:before,
                  *:after {
                    box-sizing: inherit;
                }
            } // before-after

            .case-intro {
                margin-top: 40px;
                // background-color: violet;

                @include responsive(pc-screens) {
                    width: 606px;
                    margin-top: 80px;
                }
                
                .case-titile {

                    h3 {
                        
                        @include responsive(pc-screens) {
                            font-size: 46px;
                        }
                    }
                    
                    h4 {
                        @include gothic_font(light, calc(1em + 6px));
                        margin-top: 5px;
                        color: $bk2;
                        
                        @include responsive(pc-screens) {
                            margin-top: 15px;
                            font-size: 26px;
                        }
                    }
                }
                
                .case-txt {
                    margin-top: 30px;

                    @include responsive(tablet-screens) {
                        margin-top: 35px;
                    }

                    p {
                        font-size: calc(1em + 2px);
                        line-height: calc((1em + 2px + 12px));
                        
                        @include responsive(tablet-screens) {
                            font-size: 22px;
                            line-height: 44px;
                        }
                        
                        &:last-child {
                            margin-top: 45px;
                            
                            // @include responsive(tablet-screens) {
                            //     margin-top: 50px;
                            // }
                        }
                    }
                }
            } // case-intro
        } // intro-flex
    } // before-after-case-intro
    
    .conservation-process-wrap {
        margin-top: 120px;
        
        @include responsive(pc-screens) {
            margin-top: 200px;
        }
        
        .conservation-process {
            
            h3,
            .process-intro {
                text-align: center;
            }

            .process-intro {

                p {
                    margin-top: 20px;
                    font-size: calc(1em + 2px);
                    line-height: calc((1em + 2px + 12px));
                    
                    @include responsive(tablet-screens) {
                        font-size: 22px;
                        line-height: 44px;
                    }
    
                    &:nth-child(2) {
    
                        @include responsive(pc-screens) {
                            margin-top: 50px;
                        }
                    }
    
                    &:nth-child(3),
                    &:nth-child(4) {
    
                        @include responsive(pc-screens) {
                            margin-top: 0;
                        }
                    }
                }
            } // process-intro

            ul.process-step {
                margin-top: 80px;
        
                @include responsive(pc-screens) {
                    margin-top: 100px;
                }
                
                li {
                    position: relative;
                    margin-top: 90px;
                    // background-color: violet;
                    
                    @include responsive(pc-screens) {
                        margin-top: 80px;
                        padding: 55px 120px;
                        // border: 1px solid $bk4;
                        box-shadow: inset 0 0 0 1px $bk4;
                    }
                    
                    &:first-child {
                        margin-top: 0;
                    } // li:first-child

                    &::before,
                    &::after {
                        box-sizing: inherit;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }

                    &.locate {

                        @include responsive(pc-screens) {

                            &::before,
                            &::after {
                              border: 2px solid transparent;
                              width: 0;
                              height: 0;
                            }
                          
                            &::before {
                              top: 0;
                              left: 0;
                            }
                          
                            &::after {
                              bottom: 0;
                              right: 0;
                            }
                          
                            // Hover styles
                            &:hover::before,
                            &:hover::after {
                              width: 100%;
                              height: 100%;
                            }
                          
                            &:hover::before {
                              border-top-color: $red-brown; 
                              border-right-color: $red-brown;
                              transition:
                                width 0.25s ease-out,
                                height 0.25s ease-out 0.25s;
                            }
                          
                            &:hover::after {
                              border-bottom-color: $red-brown;
                              border-left-color: $red-brown;
                              transition:
                                border-color 0s ease-out 0.5s,
                                width 0.25s ease-out 0.5s, 
                                height 0.25s ease-out 0.75s;
                            }
                        }
                    } // &.locate
        
                    .step-title {
                        display: flex;

                        .step-num {
                            width: 70px; height: 40px;
                            text-align: center;
                            border-radius: 5px;
                            background-color: $red-brown;

                            @include responsive(pc-screens) {
                                width: 90px; height: 50px;
                            }
                            
                            span {
                                @include gothic_font(semibold, calc(1em + 4px));
                                line-height: 40px;
                                color: #fff;

                                @include responsive(pc-screens) {
                                    line-height: 50px;
                                }
                            }
                        }

                        strong {
                            margin: {
                                top: auto;
                                bottom: auto;
                                left: 10px;
                            }
                            color: $red-brown;
                            font-size: calc(1em + 8px);
                            
                            @include responsive(pc-screens) {
                                margin-left: 15px;
                                font-size: 32px;
                            }
                        }
                    }

                    .step-txt {

                        p {
                            margin-top: 30px;
                            text-align: justify;
                            font-size: calc(1em + 2px);
                            line-height: calc(1em + 2px + 12px);
                            
                            @include responsive(pc-screens) {
                                margin-top: 40px;
                                font-size: 22px;
                                line-height: 36px;
                            }
                        }
                    }
                    
                    .step-img {
                        @include flex_between();
                        width: 550px;
                        margin-top: 30px;
                        
                        @include responsive(tablet-screens) {
                            width: 100%;
                            margin-top: 40px;
                        }
                        
                        @include responsive(pc-screens) {
                            width: 1160px;
                            margin-top: 50px;
                        }
                        
                        img {
                            width: 270px;
                            border-radius: 5px;
                            
                            @include responsive(tablet-screens) {
                                width: calc(560px / 1160px) * 100%;
                            }
                            
                            @include responsive(pc-screens) {
                                width: 560px;
                            }
                        }
                    }
                    
                    &:nth-child(2) {
                        
                        .step-img {
                            display: block;
                            width: 100%;
                            
                            img {
                                width: 100%;                                
                            }
                        }
                    }
                }
            } // ul.methods
        } // conservation-process
    } // conservation-process-wrap


    section.movePage {
        @include move_page();

        .movePage-wrap {

            .prev {
                visibility: hidden;
            }
        }
    }
} // main

footer {
    @include footer();
}