// 꽉채우고 가운데 정가운데 정렬
// 사용처 : 보존사례
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 사용처 : 보존사례
@mixin arrow-helper() {
    content: "";
    display: inline-block;
    border: 6px inset transparent;
  }