@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('antique_header.jpg');
}

main {
    @include main_sub();
    overflow-x: hidden;

    section.info {

        .item-wrap {

            @include responsive(pc-screens) {
                @include flex_between();
                @include in_container();
                margin-bottom: 200px;
            }

            .i-slide {
                @include out_container();

                @include responsive(pc-screens) {
                    @include in_container();
                    width: 38.57142857142857%;
                }

                .main-pic {
                    width: 100%; height: 700px;

                    img {
                        width: 100%; height: 100%;
                        object-fit: cover;

                        @include responsive(pc-screens) {
                            border-radius: 5px;
                        }
                    } 
                }
    
                .sub-pic {
                    display: none;
                    
                    @include responsive(pc-screens) {
                        @include flex_between();
                        width: calc(100% - 160px);
                        height: 100px;
                        margin: 25px auto 0;
                        
                        img {
                            width: 30%;
                            border-radius: 5px;
                            object-fit: cover;
                            object-position: 0 -35px;

                            &:not(:first-child) {
                                opacity: 0.4;
                            }
                        }
                    }
                    
                }
            }
    
            .i-des {
                
                @include responsive(pc-screens) {
                    width: 51.42857142857143%;
                }

                .loc-icon {
                    @include flex_between();
                    margin-top: 25px;
                    margin-bottom: 40px;
                    
                    @include responsive(pc-screens) {
                        border-bottom: 1px solid $bk3;
                        padding: 0 10px 15px;
                        margin-top: 0;
                    }

                    .loc {
                        @include loc_label();
                        margin-left: 0;
                        zoom: 1.2;

                        @include responsive(pc-screens) {
                            zoom: 1;
                        }
                    }
    
                    .icon-box {
                        @include flex_between();
                        width: 120px;
    
                        img {
                            height: 25px;
                            filter: $svg-bk3;
                        }
                    }
                }
    
                .tit-exp {
                    margin-bottom: 100px;
    
                    .tit .lang {
                        @include gothic_font(light, 22px);
                        margin-top: 10px;
                        color: $bk2;
                    }
    
                    .exp {
    
                        table.mini-box {
                            @include out_container();
                            padding: 20px 30px;
                            margin-top: 30px;
                            margin-bottom: 50px;
                            line-height: 2em;
                            background: $bk6;
                            
                            @include responsive(pc-screens) {
                                @include in_container();
                                margin-top: 40px;
                                margin-bottom: 80px;
                                border-radius: 5px;
                            }
    
                            th {
                                width: 15%;

                                @include responsive(pc-screens) {
                                    text-align: left;
                                }
                            }
    
                            td {
                                color: $bk1;
                            }
                        }
    
                        p {
                            line-height: 2em;
                            text-align: justify;
                            color: $bk1;

                            @include responsive(pc-screens) {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    section.similarItem {
        
        .item-box {
            @include itemList_box();
            margin-top: 30px;
        }
    }
    
    section.movePage {
        margin-top: 30px;

        .movePage-wrap {
            @include flex_between_center();

            a {
                @include gothic_font(semibold, 15px);
                padding: 10px 8px;
                color: $bk2;

                &:hover {
                    color: #000;
                }

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    margin-top: 10px;
                    background: #000;
                    transform: scale(0);
                    transition: transform .3s;
                }
                
                &:hover::after {
                    transform: scale(1);
                }

                img {
                    height: 14px;
                    filter: $bk2;
                }

                &.prev img { 
                    margin-right: 10px;
                    transform: rotate(180deg); 
                }

                &.next img {
                    margin-left: 10px;
                }

                .vert-bar {
                    color: $bk2;
                }
            }
        }
    }
}
footer {
    @include footer();
}