@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('publication_header.jpg');
}

main {
    section.search-wrap {
        @include section_filter();

        .search-box {
            @include filter_wrap();

            .speed-search {
                @include speed_search();
            }
        }
    }

    section {
        .list-control {
            @include list_control();
            margin-top: 40px;
            margin-bottom: 60px;

            @include responsive(pc-screens) {
                margin-top: 80px;
            }
        }

        /* .past-program {
            width: 100%;
            margin-bottom: 20px;
            @include responsive(pc-screens){
                width: 48.57142857142857% !important;
                margin-bottom: 50px;
                width: 50%;
            }
            
            .image-text {
                position: relative;
                border: 1px solid $bk5;
                border-radius: 5px;
                .image{
                    width: 100%;
                    height: 110px;
                    overflow: hidden;
    
                    @include responsive(pc-screens){
                        height: 260px;
                    }
    
                    img{
                        width: 100%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }  
                
                .text {
                    padding: 14px 20px 21px 20px;
    
                    @include responsive(pc-screens){
                        padding: 26px 40px 40px 40px;
                    }
                    span {
                        @include gothic_font(medium, 12px); 
                        color: $yellow-brown;
                        margin-bottom: 7px;
    
                        @include responsive(pc-screens){
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                    }
                    
                    .bold {
                        @include gothic_font(semibold, 16px); 
                        margin-bottom: 20px;
                       
                        @include responsive(pc-screens){
                            margin-bottom: 40px;
                            font-size: 26px;
                        }
                        
                    }
        
                    .grey {
                        @include gothic_font(regular, 12px); 
                        color: $bk1;
    
                        @include responsive(pc-screens){
                            font-size: 16px;
                        }
                        
                    }
        
                    
                }
            }
    
        } */
            
            
        .flex {
            justify-content: space-between;
            flex-wrap: wrap;
            display: flex;
            @include responsive(pc-screens){
               /*  flex-wrap: nowrap; */
            }
        
            .publication {
                // width: 100%;
                // margin-bottom: 20px;
                width: 48.57142857142857% !important;
                @include responsive(pc-screens){
                    // margin-bottom: 50px;
                    width: 31.42857142857143% !important;
                }
                
                .image-text {
                    /* text-align: center; */
                    .image{
                        width: 100%;
                        margin-bottom: 10px;
                       /*  border: 1px solid $bk4; */
                        
                        @include responsive(pc-screens){
                            // height: 260px;
                        }
                        
                        img{
                            width: 100%;
                            height: 250px;

                            @include responsive(pc-screens) {
                                height: 455px;
                            }
                        }
                    }  
                    
                    .text {
                        margin-bottom: 20px;
                        padding: 0 10px;

                        h4 {
                            @include gothic_font(bold, 12px);
                            margin-bottom: 30px;
                        }

                        /* @include responsive(pc-screens){
                            padding: 26px 40px 40px 40px;
                        } */
                        p {
                            margin-bottom: 7px;
                            @include gothic_font(medium, 11px);
                        }  

                        span {
                            font-size: 10px;
                            margin-bottom: 7px;

                            @include responsive(pc-screens){
                                font-size: 18px;
                                margin-bottom: 15px;
                            }
                        }   

                    }
                }
            }
        }
    }
}

footer {
    @include footer();
}