@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('header_faq.jpg');
}

main {
    h2 {
        display: none;
    }


    li {
        border-bottom: 1px solid $bk4;

        @include responsive(pc-screens){
            width: 1440px;
            margin: 0 auto;
        }

        &:first-child {
            border-top: 1px solid $bk4;
        }

    }


    .text-arrow {
        display: flex;
        padding: 20px 0;
        position: relative;

        @include responsive(pc-screens){
            padding: 40px 0;
        }


        p {
            white-space: nowrap;
            @include gothic_font(medium, 21px);

            @include responsive(pc-screens){
                font-size: 28px;
            }

            span {
                margin-right: 10px;
            }
        }

        img {
            width: 17px;
            position: absolute;
            right: 0;
            top: 25px;

            @include responsive(pc-screens){
                top: 50px;
            }
        }
        
        span {
            color: $red-brown;
        }
    }
}

footer {
    @include footer();
}