@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('faq_header.jpg');
}

main {

    .question {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include responsive(pc-screens) {
            font-size: 28px;
        }

        .mark {
            font-size: 130%;
            margin-right: 5px;
            color: $yellow-brown;
        }
    }

    .faq-content {
        background-color: $bk6;
        padding: 20px;
        border-radius: 5px;
        margin: 0 10px 20px;

        @include responsive(pc-screens) {
            margin: 0 10px 50px;
            padding: 40px;
        }


        .explain {
            @include gothic_font(medium, 17px);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 20px;

            @include responsive(pc-screens) {
                font-size: 22px;
                margin-bottom: 40px;
            }
        }

        .shortcut {
            @include gothic_font(semibold, 15px);
            color: $yellow-brown;

            @include responsive(pc-screens) {
                font-size: 20px;
            }

            img {
                margin-left: 20px;
                width: 14px;
                color: $svg-yellowbrown;
            }
        }
    }

    h2 {
        display: none;
    }


    li {
        border-bottom: 1px solid $bk4;

        @include responsive(pc-screens){
            width: 1440px;
            margin: 0 auto;
        }

        &:first-child {
            border-top: 1px solid $bk4;
        }

    }


    .text-arrow {
        @include flex_between();
        padding: 20px 10px;

        @include responsive(pc-screens){
            padding: 40px 10px;
        }


        p {
            white-space: nowrap;
            @include gothic_font(medium, 21px);

            @include responsive(pc-screens){
                font-size: 28px;
            }

            span {
                margin-right: 10px;
            }
        }

        img {
            width: 17px;

            @include responsive(pc-screens){
                top: 50px;
            }
        }
        
        span {
            color: $red-brown;
        }
    }
}

footer {
    @include footer();
}