@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('header_notice.jpg');
}

main {
    .content-title {
        display: flex;
        padding: 10px 0;
        text-align: center;
        border-top: 2px solid #000;
        border-bottom: 1px solid $bk4;
        @media screen and(min-width:$break-pc) {
            /* padding: 20px; */
            /* height: 80px; */
            text-align: center;
        }

        span:first-child {
            font-size: 14px;
            /* width: 30px; */
            @media screen and(min-width:$break-pc) {
                /* padding: 10px; */
                width: 60px;
                font-size: 22px;
            }
        }

        span.red-brown {
            white-space: nowrap;
            color: #fff;
            width: 80px;
            background-color: $red-brown;
            border-radius: 5px;
            @include gothic_font(medium, 12px);
            padding-top: 12px;
            text-align: center;

            @media screen and(min-width:$break-pc) {
                padding: 10px;
                width: 110px;
                margin-left: 20px;
                font-size: 18px;
            }
        }


        p {
            display: flex;
            white-space: nowrap;
            padding: 10px;
            @include gothic_font(medium, 17px);


            @include responsive(pc-screens){
                width: 1110px;
                margin-left: 0;
                font-size: 22px;
            }
        }

        span {
            padding: 10px;
            white-space: nowrap;

            @include responsive(pc-screens){
                padding-right: 0;
                font-size: 22px;
            }
        }

    }

    img {
        width: 100%;
        margin-top: 20px;

        @include responsive(pc-screens){
            width: 1240px;
            height: 380px;
            padding-top: 20px;
        }
    }

    .pic {
        text-align: center;
    }

    .text {
        @include responsive(pc-screens){
            display: flex;
        }
        
    }
    .text > div {

        @include responsive(pc-screens){
            margin-top: 60px;
        }
    }
    
    .normal-text {
        padding-top: 20px;

        @include responsive(pc-screens){
            width: 60%;
            padding: 0 80px;
            font-size: 24px;
        }
        
        p {
            line-height: 40px;
            color: $bk1;
            @include gothic_font(regular, 16px);

            @include responsive(pc-screens){
                font-size: 24px;
            }

        }
    }

    .import-text{
        margin-top: 60px;
        padding: 24px 30px;
        background-color: $bk6;
        line-height: 40px;


        @include responsive(pc-screens){
            width: 480px;
            height: 116px;
            font-size: 20px;
            line-height: 65px;
        }

        p {
            span:last-child {
                color: $bk3;
                @include gothic_font(regular, 15px);

                @include responsive(pc-screens){
                    font-size: 20px;
                }
            }
        }

        p:first-child {
            line-height: 20px;
        }

        .first {
            padding-right: 55px;
            @include gothic_font(semibold, 16px);

            @include responsive(pc-screens){
                font-size: 20px;
            }
        }

        .third {
            padding-right: 20px;
            @include gothic_font(semibold, 16px);

            @include responsive(pc-screens){
                font-size: 20px;
            }
        }
    }

    .announce {
        text-align: right;
        padding-top: 24px;
        padding-left: 20px;
        border-bottom: 2px solid #000;
        padding-bottom: 40px;

        @include responsive(pc-screens){
            font-size: 20px;
            padding-right: 80px;
            margin-top: -80px;
            padding-bottom: 80px;
        }

        a {
            color: $yellow-brown;
            .program {
                padding-right: 20px;
                @include gothic_font(semibold, 15px);

                @include responsive(pc-screens){
                    font-size: 20px;
                }
            }

            img {
            width: 12px; height: 12px;
            margin-bottom: 20px;
            filter: $yellow-brown;
            }
        }

    }
    

}

footer {
    @include footer();
}