@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('header_notice.jpg');
}

main {

    .tab-menu {

        .count {
            @include flex_between_center();
            font-size: 15px;
            
            @include responsive(pc-screens) {
                border-bottom: 1px solid $bk4;
            }
    
            b {
                margin-right: 2px;
            }
    
            span { 
                @include gothic_font(medium); 
                margin-right: 20px; 
            }

            @include responsive(pc-screens){
                white-space: nowrap;
            }
        }
    }
    
    .tab-menu .gnb {
        /* @include flex_between(); */
        display: flex;
        height: 45px;
        line-height: 45px;
        text-align: center;
        // background-color: $bk6;

        @include responsive(pc-screens){
            width: 64.28571428571429%;
            height: 55px;
            line-height: 55px;
        }
        
        li {
            width: 25%;
            border-top: 1px solid $bk4;
            border-right: 1px solid $bk4;
            border-bottom: 1px solid $bk4;
            cursor: pointer;
            @include gothic_font(regular, 15px);

            a {
                color: $bk5;
            }
        }

        .border {
            border-top : 5px solid #000;
            border-bottom: none;
            background-color: #fff;
            
            a {
                color: #000;
                @include gothic_font(semibold, 15px);
            }
        }
    }

    .tab-menu {
        @include responsive(pc-screens) {
            display: flex;
        }

        span {

            @include responsive(pc-screens) {
                margin: auto 0;
                padding-left: 430px;
            }
        }
    }

    .tab-menu span {
        display: none;
        @include responsive(pc-screens) {
            display: block
        }
    }
    .cont {
        margin-top: 10px;

        a {
            width: 100%;
        }

        .content {
            @include flex_between_center();
            column-gap: 20px;
            padding : 12px 5px;
            border-bottom: 1px solid $bk5;
    
            
    
            @include responsive(pc-screens){
                padding: 22px;
                /* height: 80px;
                text-align: center; */
            }
    
            span:first-child {
                display: none;
                
                @include responsive(pc-screens) {
                    display: block;
                    width: 60px;
                    padding: 5px;
                    // font-size: 16px;
                    color: $bk1;
                }
            }
    
            /* .color {
                border-radius: 5px;
                border: 1px solid $dark-brown;
                @include gothic_font(medium, 12px);
                color: #fff;
                background-color: $dark-brown;
                text-align: center;
            } */
            .type {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                    width: 100px;
                    padding: 8px;
                    text-align: center;
                    font-size: 15px;
                    color: #fff;
                    border-radius: 5px;
                }
                
                &.dark-brown {
                    background-color: $dark-brown;
                }

                &.red-brown {
                    background-color: $red-brown;
                }

                &.yellow-brown {
                background-color: $yellow-brown;
                }

                &.yellow {
                background-color: #f3cf7a;
                }
            }
    
            p {
                // display: flex;
                padding: 10px 0;
                @include gothic_font(medium, 15px);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                // width: 350px;
    
    
                @include responsive(pc-screens){
                    width: 1110px;
                    padding: 5px 0 5px 60px;
                    margin-left: 0;
                    font-size: 18px;
                }
            }
            
            span.date {
                // padding: 10px;
                font-size: 14px;
                white-space: nowrap;
                // justify-content: space-between;
                /* margin-left: -80px; */
                // @include gothic_font(regula 14px);
                color: $bk2;
    
    
                @include responsive(pc-screens){
                    // padding-right: 0;
                    // font-size: 18px;
                    font-size: 16px;
                    margin: 0;
                }
            }
    
        }
    }
    

}

footer {
    @include footer();
}