@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('header_notice.jpg');
}

main {

    .tab-menu {

        .count {
            @include flex_between_center();
            font-size: 15px;
    
            b {
                margin-right: 2px;
            }
    
            span { 
                @include gothic_font(medium); 
                margin-right: 20px; 
            }
        }
    }
    
    .tab-menu .gnb {
        /* @include flex_between(); */
        display: flex;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: $bk6;

        @include responsive(pc-screens){
            width: 64.28571428571429%;
            height: 55px;
            line-height: 55px;
        }
        
        li {
            width: 25%;
            border-top: 1px solid $bk3;
            border-right: 1px solid $bk3;
            border-bottom: 1px solid $bk3;
            cursor: pointer;
            @include gothic_font(regular, 15px);

            a {
                color: $bk5;
            }
        }

        .border {
            border-top : 5px solid #000;
            border-bottom: none;
            background-color: #fff;
            
            a {
                color: #000;
                @include gothic_font(semibold, 15px);
            }
        }
    }

    .tab-menu {
        @media screen and(min-width:$break-pc) {
            display: flex;
        }

        span {

            @media screen and(min-width:$break-pc) {
                margin: auto 0;
                padding-left: 430px;
                /* width: 20%; */
                /* width: 500px; */
            }
        }
    }

    .tab-menu span {
        display: none;
        @media screen and(min-width:$break-pc) {
            display: block;
        }
    }
    
    .content {
        display: flex;
        padding: 20px;
        border-bottom: 1px solid $bk4;

        

        @include responsive(pc-screens){
            padding: 22px;
            /* height: 80px;
            text-align: center; */
        }

        span:first-child {
            padding-left: 0;
            width: 30px;
            @include gothic_font(medium, 14px);
            color: $bk2;
            
            @media screen and(min-width:$break-pc) {
                width: 60px;
                font-size: 22px;
                padding: 5px;
            }
        }

        /* .color {
            border-radius: 5px;
            border: 1px solid $dark-brown;
            @include gothic_font(medium, 12px);
            color: #fff;
            background-color: $dark-brown;
            text-align: center;
        } */

        span.brown {
            white-space: nowrap;
            color: #fff;
            width: 80px;
            border-radius: 5px;
            background-color: $dark-brown;
            @include gothic_font(medium, 12px);
            text-align: center;

            @media screen and(min-width:$break-pc) {
                padding: 10px;
                width: 110px;
                font-size: 18px;
            }
            /* white-space: nowrap;
            color: #fff;
            padding: 0;
            text-align: center;
            width: 80px;
            border-radius: 5px;
            background-color: $dark-brown;
            @include gothic_font(medium, 12px);

            @media screen and(min-width:$break-pc) {
                padding: 10px;
                width: 110px;
                font-size: 18px;
                text-align: center;
            } */
        }

        span.red-brown {
            white-space: nowrap;
            color: #fff;
            width: 80px;
            border-radius: 5px;
            background-color: $red-brown;
            @include gothic_font(medium, 12px);
            text-align: center;

            @media screen and(min-width:$break-pc) {
                padding: 10px;
                width: 110px;
                font-size: 18px;
            }
        }

        span.yellow-brown {
            white-space: nowrap;
            color: #fff;
            width: 80px;
            border-radius: 5px;
            background-color: $yellow-brown;
            @include gothic_font(medium, 12px);
            text-align: center;

            @media screen and(min-width:$break-pc) {
                padding: 10px;
                width: 110px;
                font-size: 18px;
            }
           /*  white-space: nowrap;
            color: #fff;
            width: 80px;
            border-radius: 5px;
            @include gothic_font(medium, 12px);
            background-color: $yellow-brown;


            @media screen and(min-width:$break-pc) {
                padding: 10px;
                width: 110px;
                font-size: 18px;
                text-align: center;
            } */
        }

        span.yellow {
            white-space: nowrap;
            color: #fff;
            width: 80px;
            border-radius: 5px;
            background-color: #f3cf7a;
            @include gothic_font(medium, 12px);
            text-align: center;

            @media screen and(min-width:$break-pc) {
                padding: 10px;
                width: 110px;
                font-size: 18px;
            }
           /*  white-space: nowrap;
            width: 80px;
            border-radius: 5px;
            @include gothic_font(medium, 12px);
            background-color: #f3cf7a;
            color: #000;

            @media screen and(min-width:$break-pc) {
                padding: 10px;
                width: 110px;
                font-size: 18px;
                text-align: center;
            } */
        }

        p {
            display: flex;
            white-space: nowrap;
            padding: 10px;
            @include gothic_font(medium, 15px);
            margin-left: 120px;


            @include responsive(pc-screens){
                width: 1110px;
                padding: 5px 0 5px 60px;
                margin-left: 0;
                font-size: 22px;
            }
        }

        span {
            padding: 10px;
            font-size: 15px;
            white-space: nowrap;

            @media screen and(min-width:$break-pc) {
                padding-right: 0;
                font-size: 18px;
            }
        }

    }

}

footer {
    @include footer();
}