@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('facility_header.png');
}

main {
    overflow-x: hidden;
    .container {
        .main-img {
            img{
                margin-top: 30px;
                width:100%;
                @include out_container();
    
                @include responsive(pc-screens){
                    @include in_container();
                    width: 100%;
                }
            }
        }

        .info {

            border: 1px solid $bk6;
            border-radius: 5px;
            background-color: $bk6;
            margin: 34px 0;
            
            @include responsive(pc-screens){
                width: 31.33333333333333%;
                float: right;
                margin-top: 82px;
            }
            
            table {
                padding: 30px 0 30px 26px;

                .des {
                    td {
                        &:first-child {
                            @include gothic_font(semibold,17px);
                            padding:12px 0;

                            @include responsive(pc-screens){
                                @include gothic_font(semibold,24px);
                            }
                        }

                        &:last-child {
                            padding-left: 23px;
                            @include gothic_font(regular,18px);
                            color: $bk1;

                            @include responsive(pc-screens){
                                @include gothic_font(regular,24px);
                            }
                        }
                    }
                }
            }
        }

        .symbol {

            @include responsive(pc-screens){
                margin-top: 82px;
            }

            h3 {
                @include gothic_font(semibold,18px);
                margin-bottom: 18px;

                @include responsive(pc-screens){
                    @include gothic_font(semibold,28px);
                }
            }

            p {
                @include gothic_font(regular);
                line-height: 26px;
                color : $bk1;

                @include responsive(pc-screens){
                    width: 55.83333333333333%;
                    @include gothic_font(regular,22px);
                    line-height: 40px;
                }

                &:first-of-type {
                    margin-bottom: 37px;
                }

                &:last-of-type {
                    margin-bottom: 57px;
                }
            }
        }

        .detail {

            @include responsive(pc-screens){
                margin-top: 140px;
            }

            h3 {
                @include gothic_font(semibold,18px);
                    margin-bottom: 30px;
                @include responsive(pc-screens){
                    @include gothic_font(semibold,28px);
                    margin-bottom: 40px;
                }
            }

            .material {
                img{
                    @include out_container();
                    
                    @include responsive(pc-screens){
                        @include in_container();
                        width:55.625%;
                        height:570px;
                        float: left;
                        margin-right: 100px;
                    }
                }
                .material-detail{
                    
                    h4{
                        @include gothic_font(bold,18px);
                        margin-top: 25px;

                        @include responsive(pc-screens){
                            padding-top: 25px;
                            @include gothic_font(bold,32px);
                        }
                    }
    
                    p{
                        color:$bk1;
                        &:first-of-type {
                            margin-top: 15px;
                            margin-bottom: 40px;
                            @include gothic_font(medium);

                            @include responsive(pc-screens){
                                @include gothic_font(medium,24px);
                            }
                        }
    
                        &:last-of-type{
                            @include gothic_font(regular,15px);
                            margin-bottom: 65px;
                            line-height: 26px;

                            @include responsive(pc-screens){
                                @include gothic_font(regular,22px);
                                line-height: 44px;
                            }
                        }
                        br {
                            @include responsive(pc-screens){
                                display: none;
                            }
                        }
                    }
                }
            }

            .lobby {
                @include responsive(pc-screens){
                    margin-top: 300px;
                }
                img{
                    @include out_container();

                    @include responsive(pc-screens){
                        @include in_container();
                        width:55.625%;
                        height:570px;
                        float: right;
                        margin-left: 100px;
                    }
                }

                .lobby-detail{
                    h4{
                        @include gothic_font(bold,18px);
                        margin-top: 25px;

                        @include responsive(pc-screens){
                            padding-top: 25px;
                            @include gothic_font(bold,32px);
                        }
                    }
    
                    p{
                        color:$bk1;
                        &:first-of-type {
                            margin-top: 15px;
                            margin-bottom: 40px;
                            @include gothic_font(medium);

                            @include responsive(pc-screens){
                                @include gothic_font(medium,24px);
                            }
                        }
    
                        &:last-of-type{
                            @include gothic_font(regular,15px);
                            margin-bottom: 65px;
                            line-height: 26px;

                            @include responsive(pc-screens){
                                @include gothic_font(regular,22px);
                                line-height: 44px;
                            }
                        }
                        br {
                            @include responsive(pc-screens){
                                display: none;
                            }
                        }
                    }
                }
            }

            .rotunda {

                @include responsive(pc-screens){
                    margin-top: 300px;
                }

                img{
                    @include out_container();
                    
                    @include responsive(pc-screens){
                        @include in_container();
                        width:55.625%;
                        height:570px;
                        float: left;
                        margin-right: 100px;
                    }
                }
                
                .rotunda-detail{
                    
                    h4{
                        @include gothic_font(bold,18px);
                        margin-top: 25px;

                        @include responsive(pc-screens){
                            padding-top: 25px;
                            @include gothic_font(bold,32px);
                        }
                    }
    
                    p{
                        color:$bk1;
                        &:first-of-type {
                            margin-top: 15px;
                            margin-bottom: 40px;
                            @include gothic_font(medium);

                            @include responsive(pc-screens){
                                @include gothic_font(medium,24px);
                            }
                        }
    
                        &:last-of-type{
                            @include gothic_font(regular,15px);
                            margin-bottom: 65px;
                            line-height: 26px;

                            @include responsive(pc-screens){
                                @include gothic_font(regular,22px);
                                line-height: 44px;
                            }
                        }
                        br {
                            @include responsive(pc-screens){
                                display: none;
                            }
                        }
                    }
                }
            }

            .display-area {
                @include responsive(pc-screens){
                    margin-top: 200px;
                }
                img{
                    @include out_container();

                    @include responsive(pc-screens){
                        @include in_container();
                        width:55.625%;
                        height:570px;
                        float: right;
                        margin-left: 100px;
                    }
                }
                
                .display-area-detail{
                    h4{
                        @include gothic_font(bold,18px);
                        margin-top: 25px;

                        @include responsive(pc-screens){
                            padding-top: 25px;
                            @include gothic_font(bold,32px);
                        }
                    }
    
                    p{
                        color:$bk1;
                        &:first-of-type {
                            margin-top: 15px;
                            margin-bottom: 40px;
                            @include gothic_font(medium);

                            @include responsive(pc-screens){
                                @include gothic_font(medium,22px);
                            }
                        }
                        
                        &:last-of-type{
                            @include gothic_font(regular,15px);
                            margin-bottom: 65px;
                            line-height: 26px;

                            @include responsive(pc-screens){
                                @include gothic_font(regular,22px);
                                line-height: 44px;
                            }
                        }
                        br {
                            @include responsive(pc-screens){
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .constructor-info {
            @include responsive(pc-screens){
                margin-top: 250px;
            }

            h4 {
                @include gothic_font(semibold,18px);
                margin-bottom: 30px;

                @include responsive(pc-screens){
                    @include gothic_font(semibold,28px);
                }
            }

            iframe {
                @include out_container();
                height: calc(200px + 6vh);

                @include responsive(pc-screens){
                    float: left;
                    @include in_container();
                    width:61.11111111111111%;
                    height: 494px;
                    margin-right: 60px;
                }
            }
            
            p {
                @include gothic_font(light,20px);
                margin: 40px 0 30px 0;
                text-align: center;
                color: $bk2;

                @include responsive(pc-screens){
                    @include gothic_font(light,26px);
                    text-align: left;
                }

                span {
                    @include gothic_font(bold,30px);
                    color:#000;
                    margin-bottom: 10px;

                    @include responsive(pc-screens){
                        @include gothic_font(bold,46px);
                    }
                }

                
            }

            .detail {
                border: 1px solid $bk6;
                border-radius: 5px;
                background-color: $bk6;
                height: 197px;

                @include responsive(pc-screens){
                    width: 440px;
                    height: 100%;
                    float: left;
                    margin-top: 50px;
                    margin-bottom: 180px;
                    margin-right: 40px;
                    height: 250px;
                }
                
                table {
                    .detail-des {
                        td {
                            vertical-align: top;
                            &:first-of-type {
                                @include gothic_font(semibold,15px);
                                padding: 26px 60px 0 30px;

                                @include responsive(pc-screens){
                                    @include gothic_font(semibold,18px);
                                    padding-top: 30px;
                                }
                            }

                            &:last-of-type {
                                @include gothic_font(regular,15px);
                                padding-top: 26px;
                                color:#5b5b5b;

                                @include responsive(pc-screens){
                                    @include gothic_font(regular,18px);
                                    padding-top: 30px;
                                }
                            }
                        }
                    }
                }
                
            }
            .simple{
                p {
                    text-align: left;
                    line-height: 40px;
                    color: #000;
                    @include batang_font(medium, 26px); 

                    @include responsive(pc-screens){
                        @include batang_font(medium, 35px); 
                        line-height: 76px;
                    }
                    
                    br {
                        @include responsive(pc-screens){
                            display: none;
                        }
                    }
                }
            }

            .constructor-detail {
                @include responsive(pc-screens){
                    display: flex;
                }
                .detail-left {
                    @include responsive(pc-screens) {
                        width: 150%;
                        margin-right: 70px;
                    }
                    
                    br {
                        @include responsive(pc-screens){
                            display: none;
                        }
                    }
                    
                    p {
                        line-height: 26px;
                        @include gothic_font(regular);
                        color: $bk1;
                        text-align: left;
                        &:first-of-type {
                            @include responsive(pc-screens) {
                                @include gothic_font(regular,18px);
                                line-height: 44px;
                            }
                            
                        }

                        &:nth-of-type(2) {
                            @include responsive(pc-screens) {
                                @include gothic_font(regular,18px);
                                line-height: 44px;
                            }

                            span {
                                color:#ac3f21;
                                @include gothic_font(semibold);
                                
                                display: inline;
                                @include responsive(pc-screens) {
                                    display: block;
                                    @include gothic_font(semibold,18px);
                                }
                            }
                        }

                        &:last-of-type{
                            @include responsive(pc-screens) {
                                @include gothic_font(regular,18px);
                                line-height: 44px;
                            }
                        }

                        
                    }
                }

                .detail-right {
                    @include responsive(pc-screens) {
                        margin-bottom: 200px;
                        width: 150%;

                    }

                    p {
                        text-align: left;
                        line-height: 26px;
                        @include gothic_font(regular);

                        @include responsive(pc-screens) {
                            @include gothic_font(regular,18px);
                            line-height: 44px;
                        }

                    }
                }
            }

            .faq {
                h4 {
                    @include gothic_font(semibold,20px);
                }

                hr{
                    margin-bottom: 20px;
                }
                
                br {
                    @include responsive(pc-screens) {
                        display: none;
                    }
                }
                
                ul {
                    hr{
                        margin:30px 0 20px 0;
                    }   

                    .faq-detail{
                        position: relative;
                        
                            a{
                                position: relative;
                                padding-left: 20px;
                                width:100%;
                                @include gothic_font(semibold,18px);
                                line-height: 28px;
                                span {
                                    color:#d6841a;
                                }
                                
                                img{
                                    position: absolute;
                                    top:100px;
                                    right: 0;
                                    width: 13px;
                                    height: 8px;
                                    @include responsive(pc-screens) {
                                        top:5px;
                                    }
                                }
                            }
                            .answer {
                                width: 100%;
                                background-color: $bk6;
                                border-radius: 5px;
                                
                                p {
                                    padding: 20px;    
                                    @include gothic_font(regular);
                                    line-height: 26px;
                                    text-align: left;
                                }
                            }
                        }
                        .faq-detail-etc{
                            position: relative;
                            
                                a{
                                    position: relative;
                                    padding-left: 20px;
                                    width:100%;
                                    @include gothic_font(semibold,18px);
                                    line-height: 28px;
                                    span {
                                        color:#d6841a;
                                    }
                                    
                                    img{
                                        position: absolute;
                                        top:40px;
                                        right: 0;
                                        width: 13px;
                                        height: 8px;
                                        @include responsive(pc-screens) {
                                            top:5px;
                                        }
                                    }
                                }
                                .answer {
                                    width: 100%;
                                    background-color: $bk6;
                                    border-radius: 5px;
                                    
                                    p {
                                        padding: 20px;    
                                        @include gothic_font(regular);
                                        line-height: 26px;
                                        text-align: left;
                                    }
                                }
                            }    
                }
            }
        }
    }

    
}


footer {
    @include footer();
}