@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';
@import './about_mixin_DH.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('guide_header.png');
}

main {
    @include tab_menu();
    
    .m-br {
        @include responsive(pc-screens) {
            display: none;
        }
    }

    .pc-br {
        display: none;
        @include responsive(pc-screens) {
            display: block;
        }
    }
    
    .fee-time-wrap {
        // display: none;
        margin-top: 90px;
        
        @include responsive(pc-screens) {
            margin-top: 160px;
        }

        .fee-time > div {
            margin-bottom: 60px;
    
            @include responsive(tablet-screens) {
                margin-bottom: 100px;
            }
        }
        
        .fee-time {
            
            @include responsive(tablet-screens) {
                font-size: 20px;
            }
            
            .time,
            .ticket-info {
 
                @include responsive(pc-screens) {
                    display: flex;
                }
                
                h3 {

                    @include responsive (pc-screens) {
                        width: 14.28571428571429%;
                    }
                }
            }

            h3 {
                font-size: calc(1em + 4px);
                margin-bottom: 20px ;
                // padding-left: 20px;
                // border-left: 3px solid $red-brown;
    
                @include responsive (tablet-screens) {
                    height: 34px;
                    margin-bottom: 50px;
                    // border-left-width: 5px;
                }
            }

            span {
                color: $bk1;
                font-size: calc(1em - 2px);
            }

            .time {
                
                p {
                    margin-bottom: 10px;
                    @include gothic_font(semibold, 1em);

                    b {
                        color: #f44321;
                    }
                }
            } // time
            
            .fee {
    
                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-top: 1px solid $bk2;
                    border-bottom: 1px solid $bk2;
                    
    
                    th, td {
                        padding: 20px 0;
                        border-left: 1px solid $bk4;

                        @include responsive (tablet-screens) {
                            padding: 30px 0;
                        }
                        
                        &:first-child {
                            border-left: 0;
                        }
                    }
                    
                    th {
                        width: 25%;
                        background-color: $bk6;
                        
                        &:first-child {
                            width: 50%;
                        }
                        
                        span {
                            display: none;
    
                            @include responsive (pc-screens) {
                                display: inline;
                            }
                        }

                        br {
    
                            @include responsive (pc-screens) {
                                display: none;
                            }
                        }
                    } // th
                    
                    td {
                        text-align: center;
                        font-size: calc(1em - 2px);
                        border-top: 1px solid $bk4;
                    }
                }
            } // fee

            .ticket-wrap {
                
                .ticket-info {

                    ul {

                        li {
                            padding-left: 11px;
                            margin-bottom: 20px;
                            font-size: calc(1em - 2px);
                            line-height: calc(1em - 2px + 10px);
                            background: url(../image/icon_bullet_dot.svg) no-repeat left 0.7em;
                            background-size: 2px;
                            
                            @include responsive(tablet-screens) {
                                padding-left: 14px;
                                margin-bottom: 30px;
                                font-size: 20px;
                            }
                        }
                    }
                } // ticket-info

                .ticketing {
                    margin: 60px auto;
                    text-align: center;

                    @include responsive(tablet-screens) {
                        margin-top: 110px;
                    }

                    @include responsive(pc-screens) {
                        width: 31.42857142857143%;
                    }
                    
                    a {
                        width: 100%;
                        padding: 20px 0;
                        font-size: calc(1em + 4px);
                        border-radius: 5px;
                        color: #fff;
                        border: 1px solid $red-brown;
                        background-color: $red-brown;

                        &:hover {
                            color: $red-brown;
                            background-color: #fff;

                            img {
                                filter: $svg-redbrown;
                            }
                        }
                        
                        img {
                            width: calc(1em + 4px);
                            padding-bottom: 4px;
                            margin-right: 10px;
                        }
                    }
                } // ticketing
            } // ticket-wrap

            .please-note {
                margin-top: 80px;

                @include responsive (tablet-screens) {
                    margin-top: 100px;
                }

                .note-flex {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid $bk4;

                    @include responsive (pc-screens) {
                        flex-wrap: wrap;
                    }

                    .col-line {
                        position: absolute;
                        left: 0; top: 0;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        height: 100%;

                        span {
                            display: block;
                            width: 1px; height: 100%;
                            background-color: $bk4;
                        }
                        .line1,
                        .line4 {
                            background-color: transparent;
                        }

                        .line3 {
                            display: none;

                            @include responsive (pc-screens) {
                                display: block;
                            }
                        }
                    }

                    .note-group {
                        width: 50%;

                        @include responsive (pc-screens) {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                        }

                        .note-item {
                            position: relative;
                            width: 100%;
                            height: 210px;
                            border-bottom: 1px solid $bk4;

                            @include responsive(tablet-screens) {
                                height: auto;
                                aspect-ratio: 1;
                            }
                            
                            @include responsive (pc-screens) {
                                flex: 33%;
                            }

                            .note-con {
                                @include element_center();
                                height: 78.26086956521739%;
                                text-align: center;

                                @include responsive (tablet-screens) {
                                    height: 55.15021459227468%;
                                }
                                
                                .note-img {
                                    position: relative;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 76px;
                                    aspect-ratio: 1;

                                    @include responsive (tablet-screens) {
                                        width: 163px;
                                    }
                                    
                                    img {

                                        &:first-child {
                                            @include element_center();
                                            // height: 49px;
                                            height: 64.47368421052632%;
                                        }
                                        
                                        &:nth-child(2) {
                                            position: absolute;
                                            left: 0; top: 0;
                                        }
                                    }
                                } // note-img

                                p {
                                    @include gothic_font(medium, 1em);
                                    width: 156px;
                                    line-height: calc(1em + 10px);
                                    margin-top: 16px;
                                    
                                    @include responsive (tablet-screens) {
                                        width: 310px;
                                        line-height: 2em;
                                        font-size: 22px;
                                        margin-top: 40px;
                                    }
                                }
                            } // note-con
                        } // note-item
                    } // note-group
                } // note-flex
            } // please-note
        } // fee-time
    } // fee-time-wrap

    .vr-floor-info-wrap {
        // display: none;

        h3 {
            text-align: center;  
            font-size: $h4;

            @include responsive (tablet-screens) {
                text-align: left;
            } 
            
            @include responsive (pc-screens) {
                font-size: $h2;
            }
        }

        section.vr,
        section.floor-info {
            margin-top: 80px;
    
            @include responsive (tablet-screens) {
                margin-top: 160px;
            }
        }

        section.vr {
            
            .vr-txt {
                position: relative;
                // background-color: saddlebrown;

                h3 {
                    margin-bottom: 30px;
                }

                a {
                    position: absolute;
                    right: 0; bottom: -25px;
                    color: $yellow-brown;

                    img {
                        height: 12px;
                        margin-left: 5px;
                        filter: $svg-yellowbrown;
                    }
                }
            }
        } // vr

        section.floor-info {

            @include responsive(tablet-screens) {
                font-size: 20px;
            }

            h3 {
                margin-bottom: 60px;
            }
            
            > div {
                margin-bottom: 70px;

                @include responsive(tablet-screens) {
                    display: flex;
                    justify-content: space-between;
                }

                .floor-select-group {

                    @include responsive(tablet-screens) {
                        width: calc(480px / 1440px * 100%);
                        margin-right: calc(100px / 1440px * 100%);
                    }

                    .group-title {
                        @include flex_between();
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-bottom: 14px;
                        border-bottom: 2px solid #000;

                        @include responsive(tablet-screens) {
                            padding: 0;
                            padding-bottom: 36px;
                        }

                        h4 {
                            @include gothic_font(semibold, 20px);

                            @include responsive(pc-screens) {
                                font-size: 30px;
                            }

                            span {
                                margin-left: 10px;
                                color: $bk2;
                                @include gothic_font(regular, calc(1em - 6px));

                                @include responsive(pc-screens) {
                                    margin-left: 20px;
                                    // font-size: 24px;
                                }
                            }
                        }

                        img {
                            width: 12px / 350px * 100%;
    
                            @include responsive(tablet-screens) {
                                display: none;
                            }
                        }
                    } // group-title

                    .group-option {
                        margin-bottom: 30px;

                        // height: 0;
                        // visibility: hidden;
                        
                        li {
                            height: 52px;
                            line-height: 52px;
                            padding: 0 10px;
                            font-size: 20px;
                            color: $bk2;
                            border-bottom: 1px solid $bk4;

                            @include responsive(tablet-screens) {
                                height: 52px * 1.5;
                                line-height: 52px * 1.5;
                                font-size: 20px + 5px;
                            }

                            @include responsive(pc-screens) {
                                height: 52px * 2;
                                line-height: 52px * 2;
                                padding: 0 20px;
                                font-size: 28px;
                            }
                            
                            &:hover {
                                font-weight: 600;
                                color: #000;
                                background-color: $bk6;
                                
                                @include responsive(tablet-screens) {
                                    background: {
                                        image: url(../../../image/icon_arrow_tail.svg);
                                        repeat: no-repeat ;
                                        position: center right;
                                        origin: content-box;
                                        size: 37px 28px;
                                    }
                                }
                            }

                            b {
                                font-weight: 500;
                            }

                            span {
                                margin-left: 10px;
                                vertical-align: top;
                                font-size: calc(1em - 4px);

                                @include responsive(pc-screens) {
                                    margin-left: 15px;
                                }
                            }
                        }
                    } // group-option
                } // floor-select-group

                .floor-con-group {

                    @include responsive(tablet-screens) {
                        width: calc(800px / 1440px * 100%);
                    }
                    
                    ul { li {display: none;} .selected {display: block} }
                    
                    .floor-img {
                        
                        li {
                            
                            img {
                                width: 100%;
                                margin-bottom: 25px;
                            }
                        }
                    } // floor-img

                    .floor-txt {
                        
                        .txt-flex {
                            @include flex_between();
                            
                            strong, b {
                                line-height: 24px;
                            }
                            
                            strong {
                                padding-left: 5px;
                                font-size: 24px;
                                width: calc(40px / 350px * 100%);
                                
                                @include responsive(pc-screens) {
                                    font-size: $h3;
                                }
                            }
                            
                            b {
                                width: calc(250px / 350px *100%);
                                
                                @include responsive(pc-screens) {
                                    font-size: 24px;
                                }
                            }
                            
                            .toilet {
                                width: calc(60px / 350px * 100%);
                                padding-right: 5px;
                                text-align: right;
                                height: 22px;

                                @include responsive(pc-screens) {
                                    height: 26px;
                                }
                                
                                img {
                                    height: 100%;
                                }
                            }
                        }

                        p {
                            margin-top: 10px;
                            margin-left: 40px / 350px * 100%;
                            margin-right: 60px / 350px * 100%;
                            font-size: calc(1em - 2px);
                            line-height: calc(1em - 2px + 10px);
                        }
                    } // floor-txt
                } // floor-con-group
            } // > div
        } // section.floor-info
    } // vr-floor-wrap

    section.digital-guide-did-wrap {
        // display: none;

        overflow: hidden;
        margin-top: 70px;
        text-align: center;
        word-break: keep-all; // 단어를 기준으로 줄바꿈
        // background-color: wheat;
        
        @include responsive(tablet-screens) {
            font-size: 20px;
            margin-top: 100px;
        }
        
        @include responsive(pc-screens) {
            text-align: left;
            margin-top: 190px;
        }
        
        h3, h4 { @include responsive(pc-screens) { text-align: center; } }
        
        h3 { 
            font-size: calc(1em + 10px);
            
            @include responsive(pc-screens) { font-size: $h2; }
        }
        
        h4 {
            @include gothic_font(regular, 1em) ;
            margin-top: 10px;
            margin-bottom: 50px;
            color: $bk4;
            
            @include responsive(pc-screens) { margin-bottom: 120px; }
        }

        img { 
            width: 100%;
            border-radius: 20px; 
        }

        strong, h5 {
            font-size: calc(1em + 1.538461538vw);
            line-height: 2em;
        }

        section.digital-guide {

            strong {
                @include responsive(pc-screens) { font-size: 32px; };
            }

            p, .p {
                font-size: calc(1em - 2px);
                line-height: calc(1em - 2px + 10px);
                color: $bk1;
            }

            .guide-intro-wrap {
                
                .guide-intro {
                    
                    @include responsive(pc-screens) {
                        display: flex;
                        justify-content: space-between;
                    }
    
                    .guide-intro-img {
    
                        @include responsive(pc-screens) {
                            order: 2;
                            width: 700px / 1400px * 100%;
                        }
                    } // guide-intro-img
    
                    .guide-intro-txt {
                        margin-top: 30px; 
                        // background-color: dodgerblue;
    
                        @include responsive(pc-screens) {
                            order: 1;
                            margin-top: 0; 
                        }
                        
                        strong {
                            display: block;
                            line-height: calc(1em + 6px + 10px);
    
                            @include responsive(pc-screens) {
                                line-height: 55px;
                            }
                        }
                        
                        p {
                            margin-top: 30px; 

                            @include responsive(pc-screens) {
                                line-height: 32px;
                            }

                            span {
                                color: $red-brown;
                                @include gothic_font(semibold);
                            }
                        }
                    } // guide-intro-txt
                } // guide-intro
            } // guide-intro-wrap

            .guide-point-wrap {
                margin-top: 100px;
                margin-bottom: 140px;

                @include responsive(pc-screens) {
                    position: relative;
                    margin-top: 100px;
                }

                .guide-point-txt,
                .guide-point-img {
                    display: flex;
                    justify-content: space-between;
                    width: 580px / 350px * 100%; 
                    padding-left: 80px / 350px * 100%;
                    padding-right: 80px / 350px * 100%;
                    
                    @include responsive(pc-screens) {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    > li {
                        width: 190px / 420px * 100%;

                        @include responsive(pc-screens) {
                            width: 100%;
                        }
                    }
                } // .guide-point-txt, .guide-point-img

                .guide-point-txt {
                    margin-bottom: 20px;
                    // background-color: yellow;

                    @include responsive(pc-screens) {
                        position: absolute;
                        right: 0; bottom: 0;
                        display: block;
                        width: 626px / 1400px * 100%;
                        margin-bottom: 0;
                        order: 2;
                    }
                    
                    li.hidden { // 토글
                        visibility: hidden;
                    }
                    
                    > li {
                        // background-color: rosybrown;
                        
                        @include responsive(pc-screens) {
                            height: 300px;
                        }

                        br { @include responsive(pc-screens) { display: none; } }
                        
                        span {
                            display: block;
                            font-size: calc(1em + 2px);
                            color: $red-brown;
                            // background-color: aquamarine;

                            @include responsive(pc-screens) {
                                font-size: 26px; 
                            }
                        }

                        strong {
                            display: block;
                            margin: 20px auto;
                            line-height: 28px;

                            @include responsive(tablet-screens) {
                                line-height: calc(1em + 6px + 10px);
                            }

                            @include responsive(pc-screens) {
                                line-height: calc(1em + 6px);
                                margin-bottom: 30px;
                            }

                        }
                        
                        .p {
                            // background-color: aquamarine;

                            @include responsive(pc-screens) {
                                line-height: 36px;
                            }
                        }
                    }
                } // guide-point-txt

                .guide-point-img {

                    @include responsive(pc-screens) {
                        order: 1;
                        width: 620px / 1400px * 100%;
                    }

                    li {

                        @include responsive(pc-screens) {
                            width: 300px;
                        }

                        &:first-child {

                            @include responsive(pc-screens) {
                                margin-top: 107px;
                            }
                        }
                        
                        img { width: 100% }
                    }
                } // guide-point-img
            } // guide-point-wrap 
        } // section.digital-guide

        .did {

            strong {
                @include responsive(pc-screens) { 
                    margin-bottom: 20px;
                    font-size: 34px; 
                }
            }

            p {
                font-size: calc(1em - 2px);
                line-height: calc(1em - 2px + 10px);
                color: $bk1;

                @include responsive(pc-screens) {
                    line-height: 40px;
                }
            }

            .mobile-hidden {
                display: none;
                @include responsive(pc-screens) { display: inline; }
            }

            .did-awards {
                position: relative;
                
                .awards-flex {
                    
                    @include responsive(pc-screens) {
                        display: flex;
                        justify-content: space-between;
                    }

                    .awards-txt {
                        position: absolute;
                        padding-top: 30px / 350px * 100%;
                        padding-left: 20px / 350px * 100%;
                        text-align: left;
                        
                        @include responsive(pc-screens) {
                            position: static;
                            width: 500px;
                            padding-top: 0;
                            padding-left: 0;
                        }
                        
                        strong {
                            color: #fff;
                            
                            @include responsive(pc-screens) {
                                display: block;
                                color: #000;
                            }
                        }
                        
                        p {
                            margin-top: 30px / 350px * 100%;
                            color: #fff;
                            
                            @include responsive(pc-screens) {
                                margin-top: 0;
                                color: $bk1;
                            }
                        }
                    } // awards-txt
    
                    img {
                        
                        @include responsive(pc-screens) {
                            display: block;
                            width: 680px;
                        }
                    }
                } // awards-flex
                
                .did-img2 {
                    overflow: hidden;
                    aspect-ratio: 35 / 36;
                    background-color: #000;
                    border-radius: 20px;

                    @include responsive(pc-screens) {
                        position: absolute;
                        top: 370px;
                        width: 480px;
                        aspect-ratio: 24 / 29;
                    }

                    img {
                        width: 640px / 350px * 100%;
                        margin-left: 52px / 640px * -100%;
                        margin-top: 32px / 360px * 100%;
                        
                        @include responsive(pc-screens) {
                            width: 1026px;
                            margin-left: -262px;
                            margin-top: 0;
                        }
    
                    }
                } // did-img2
            } // did-awards

            .did-point,
            .did-video {
                margin-top: 80px;

                strong, h5 {
                    display: block;
                    margin-bottom: 20px;

                    // @include responsive(pc-screens) {
                    //     margin-bottom: 40px;
                    // }
                }

                p {
                    margin-bottom: 40px;
                    // background-color: violet;
                }
            }
            
            .did-point {
                
                @include responsive(pc-screens) {
                    width: 700px;
                    margin-top: 180px;
                    margin-left: 580px;
                }

                p {

                    @include responsive(pc-screens) {
                        margin-bottom: 50px;
                    }
                }
            } // did-point
            
            .did-video {
                
                @include responsive(pc-screens) {
                    margin-top: 130px;
                }
                
                .video-frame {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    
                    iframe {
                        position: absolute;
                        left: 0; top: 0;
                        width: 100%; height: 100%;
                        border-radius: 20px;
                    }
                }
            } // did-video
        } // did
    } // section.digital-guide-did-wrap
} // main

footer {
    @include footer();
}