@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';
@import './about_mixin_DH.scss';
@import './about_mixin_MD.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('membership_header.png');
}

main {

    @include responsive(tablet-screens) { font-size: 20px; }
    
    .mobile-view {
        @include responsive(tablet-screens) {
            display: none;
        }
    }

    .pc-br {
        display: none;

        @include responsive(pc-screens) {
            display: block;
        }
    }
    
    h3 { 
        font-size: $h3;
        text-align: center;
        
        @include responsive(pc-screens) {
            font-size: $h2;
        }
    }
    
    @include tab_menu();

    .tabmenu-wrap{

        .tab-nav{
            
            .nav{

                &:hover{
                    
                    a{
                        color:#000;
                        @include gothic_font(bold, 18px);

                        &:after{
                            content:"";
                            position:absolute;
                            bottom:-1px;
                            left:0;
                            right:0;
                            margin:0 auto;
                            width:100%;
                            height:2px;
                            background-color: #000;
                        }

                        @include responsive(tablet-screens) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        .tab-con{
            
            .con-box{
                display: block;
            }
        }
    } // tabmenu-wrap

    .membership-wrap,
    .gift-membership-wrap {
        
        .table {
            margin-top: 40px;
            
            @include responsive(pc-screens) {
                margin-top: 80px;
            }
            
            .tr {
    
                @include responsive(pc-screens) {
                    @include flex_between();
                }
                
                .thead {
                    @include gothic_font(semibold, calc(1em + 4px));
                    padding: {
                        top: 30px;
                        bottom: 30px;
                        left: 20px;
                    }
                    border-top: 2px solid $bk5;
                    background-color: $bk6;
                    
                    @include responsive(pc-screens) {
                        width: calc(200px / 1400px) * 100%;
                        font-size: $h4;
                        text-align: center;
                        padding: {
                            top: 40px;
                            left: 0;
                        }
                        background-color: transparent;
                    }
                    
                } // .thead
                
                .tbody {
                    @include flex_between_center();
                    flex-wrap: wrap;
                    border-top: 1px solid $bk5;
                    
                    @include responsive(pc-screens) {
                        width: calc(1200px / 1400px) * 100%;
                        border-top: 2px solid $bk5;
                        border-left: 1px solid $bk5;
                    }
                    
                    img {
                        width: 130px;
                        
                        @include responsive(pc-screens) {
                            width: 280px;
                        }
                    }
                    
                    > div {
                        padding: {
                            top: 20px;
                            bottom: 20px;
                        }
                        text-align: center;
                        line-height: 2em;
                        
                        @include responsive(pc-screens) {
                            padding: {
                                top: 56px;
                                bottom:56px;
                            }
                            line-height: 44px;
                        }
                        
                        .light {
                            color: $bk2;
                        }
                        
                        .light-s {
                            display: block;
                            font-size: calc(1em - 2px);
                            color: $bk2;

                            @include responsive(pc-screens) {
                                margin-top: 10px;
                            }
                        }
    
                        &.td1, 
                        &.td2 {
                            width: 50%;
    
                            .card-title {
                                @include gothic_font(semibold, calc(1em + 4px));
                                display: block;
                                margin-top: 22px;
                                
                                @include responsive(pc-screens) {
                                    margin-top: 40px;
                                    font-size: $h4;
                                }
                            }
    
                            .card-txt {
                                line-height: calc(1em + 10px);
                                margin-top: 10px;
                                color: $bk2;
                                
                                @include responsive(pc-screens) {
                                    margin-top: 15px;
                                }
                            }
                            
                            .card-bt {
                                @include bt-hover($bk5, #000, $red-brown, #fff);
                                height: 44px;
                                margin: 26px auto 0;

                                @include responsive(tablet-screens) {
                                    height: 70px;
                                    margin-top: 50px;
                                }

                                a {
                                    span {
                                        @include gothic_font(medium, calc(1em + 2px));
                                    }
                                }
                            }

                            // a {
                            //     @include gothic_font(medium, calc(1em + 2px));
                            //     display: block;
                            //     height: 44px;
                            //     line-height: 44px;
                            //     margin: 26px auto 0;
                            //     box-shadow: inset 0 0 0 1px $bk5;
                            //     border-radius: 5px;
                                
                            //     transition: background-color 0.7s;
                                
                            //     &:hover {
                            //         box-shadow: none;
                            //     }
                                
                            //     @include responsive(tablet-screens) {
                            //         height: 70px;
                            //         line-height: 70px;
                            //         margin-top: 50px;
                            //     }
                            // }
                        } // .td1, .td2
                        
                        &.td2 {
                            border-left: 1px solid $bk5;
                        }
                        
                        &.td3 {
                            width: 100%;
                            border-top: 1px solid $bk5;
                        }

                        p { // low line height
                            line-height: 22px;

                            &:nth-child(2) {
                                margin-top: 15px;
                            }
                        }
                    }
                } // .tbody 

                &:first-child {

                    .tbody {

                        .td2 {
                            border-left: 0;
                        }
                    }
                } // .tr:first-child 

                &:last-child {
                    border-bottom: 1px solid $bk4;
                    
                    @include responsive(pc-screens) {
                        border-bottom: 2px solid $bk4;
                    }
                } // .tr:last-child
            } // .tr
        } // table
    } // membership-wrap, gift-membership-wrap

    .membership-wrap {
        
        @include responsive(pc-screens) {
            margin-top: 100px;
        }

        .membership {
            
                .table {
                    
                    .tbody {
                        
                        > div {

                            &.td1, 
                            &.td2 {
                                
                                .card-bt {
                                    width: 150px;

                                    @include responsive(tablet-screens) {
                                        width: 250px;
                                    }
                                }
                            }
                            
                            &.td1 {
                                .fee {
                                    color: $red-brown;
                                }

                                // a:hover {
                                //     color: #fff;
                                //     background-color: $red-brown;
                                // }
                            }
                            
                            &.td2 {
                                border-left: 1px solid $bk4;

                                .fee {
                                    color: $yellow-brown;
                                }

                                .card-bt {

                                    a::before {
                                        background-color: $yellow-brown;
                                    }
                                }

                                // a:hover {
                                //     color: #fff;
                                //     border-color: $yellow-brown;
                                //     background-color: $yellow-brown;
                                // }
                            }
                        }
                    }
                } // .table
        } // membership
    } // membership-wrap

    .gift-membership-wrap {
        margin-top: 120px;

        @include responsive(pc-screens) {
            margin-top: 280px;
        }

        .gift-membership {
    
            .table {
                
                .tbody {
                    
                    > div {

                        &.td1, 
                        &.td2 {
                            
                            .card-bt {
                                width: 160px;
    
                                @include responsive(tablet-screens) {
                                    width: 250px;
                                }

                                // a {
    
                                    // &:hover {
                                    //     color: #fff;
                                    //     background-color: $red-brown;
                                    // }
                                // }
                            }

                            .fee {
                                color: $red-brown;
                            }
                        }
                    }
                }
            } // .table

            .gift-detail {
                margin-top: 80px;
                
                @include responsive(pc-screens) {
                    margin-top: 240px;
                }

                h4 {
                    font-size: $h4;
                    
                    @include responsive(pc-screens) {
                        font-size: $h3;
                    }
                }

                ul {
                    margin-top: 40px;
                    
                    @include responsive(pc-screens) {
                        margin-top: 40px * 2;
                    }
                    
                    li {
                        padding: 30px 0;
                        border-top: 1px solid $bk4;
                        
                        @include responsive(pc-screens) {
                            display: flex;
                            padding: 60px 0;
                        }

                        strong {
                            @include gothic_font(semibold, calc(1em + 6px));

                            @include responsive(pc-screens) {
                                width: 280px;
                                margin-left: 40px;
                            }

                        }

                        .detail-txt {
                            @include content_align();
                            margin-top: 30px;
                            margin-left: 10px;
                            
                            @include responsive(pc-screens) {
                                width: 1120px;
                                margin-top: 0;
                                margin-left: 0;
                            }
                            
                            p {
                                margin-top: 20px;
                                
                                @include responsive(pc-screens) {
                                    margin-top: 30px;
                                }
                                
                                &:first-child {
                                    margin-top: 0;
                                }

                                .light-s {
                                    font-size: calc(1em - 2px);
                                    color: $bk2;
                                }

                                a {
                                    color: $bk1;
                                    text-decoration: underline;
                                }
                            }
                        }
                        
                        &:first-child {

                            p {
                                padding-left: 11px;
                                background: {
                                    image: url(../image/icon_bullet_dot.svg);
                                    repeat: no-repeat;
                                    position: left 0.8em;
                                    size: 2px;
                                }

                                .light {
                                    color: $bk2;
                                }
                            }
                        } // li:first-child

                        &:last-child {

                            div {
                                
                                .refund-box {
                                    margin-top: 30px;
                                    margin-left: -10px;
                                    border: 1px solid $bk4;
                                    border-radius: 5px;

                                    @include responsive(pc-screens) {
                                        margin-top: 40px;
                                    }

                                    div {
                                        margin: 20px;

                                        @include responsive(pc-screens) {
                                            margin: 40px;
                                        }

                                        span {
                                            display: block;
                                            margin-top: 10px;

                                            @include responsive(pc-screens) {
                                                margin-top: 15px;
                                            }
                                        }
                                    }
                                } // refund-box
                            }
                        } // li:last-child
                    } // li
                } // ul
            } // gift-detail
        } // gift-membership
    } // gift-membership-wrap

    section.corporate-member-wrap {
        margin-top: 100px;
        
        @include responsive(pc-screens) {
            margin-top: 100px * 2;
        }

        .corporate-member {
            @include out_container();
            position: relative;
            height: 400px;
            color: #fff;
            background: {
                image: url(../image/membership_corporate.png);
                repeat: no-repeat;
                position: -507px -429px;
                size: calc(951px / 350px) * 100%;
            }
            
            @include responsive(pc-screens) {
                @include in_container();
                position: relative;
                height: 300px;
                background: {
                    image: url(../image/membership_corporate_pc.png);
                    position: 0;
                    size: 1527px;
                }
            }
            
            &::before {
                @include overlay_bk(1);
                background: linear-gradient(#000 0%, transparent);
                
                @include responsive(pc-screens) {
                    background: none;
                }
            }
            
            .back-cover {
                @include overlay_bk(0.6);
                
                @include responsive(pc-screens) {
                    background-color: rgba(0, 0, 0, 0.4);   
                }
            }
            // background-color: darkblue;

            p, a {
                font-size: calc(1em + 2px);
            }

            .corporate-txt {
                
                @include responsive(pc-screens) {
                    margin-left: 120px;
                }

                h3 {
                    margin-top: 50px;
                    font-size: calc(1em + 10px);
                    
                    @include responsive(pc-screens) {
                        margin-top: 65px;
                        font-size: 36px;
                        text-align: left;
                    }
                }

                p {
                    line-height: 2em;
                    margin-top: 30px;
                    text-align: center;
                    
                    @include responsive(pc-screens) {
                        margin-top: 40px;
                        text-align: left;
                    }
                }
            } // corporate-txt
            
            
            
            .corporate-bt {
                @include bt-hover(#fff, #fff, #fff, #000);
                position: absolute;
                right: 50%; bottom: 50px;
                width: 150px; height: 50px;
                transform: translateX(50%);

                @include responsive(tablet-screens) {
                    width: 200px; height: 66px;
                }
                
                @include responsive(pc-screens) {
                    right: 120px; bottom: 44px;
                    transform: translateX(0);
                }
            }
        } // corporate-member
    } // corporate-member-wrap

    .associate-wrap {
        margin-top: 130px;

        @include responsive(pc-screens) {
            margin-top: 260px;
        }
        
        .associate {

            ul.associate-con {
                margin-top: 40px;
                
                @include responsive(tablet-screens) {
                    @include flex_between();
                    flex-wrap: wrap;
                }
                
                @include responsive(pc-screens) {
                    margin-top: 100px;
                }

                li {
                    @include flex_between();
                    width: 100%; 
                    height: 158px;
                    margin-bottom: 20px;
                    // border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                    overflow: hidden;
                    
                    @include responsive(tablet-screens) {
                        width: 48%; 
                        height: 175px;
                    }
                    
                    @include responsive(pc-screens) {
                        width: 680px; 
                        height: 260px;
                        margin-bottom: 30px;
                        overflow: hidden;
                        
                    }

                    .store-img {
                        width: 180px / 350px * 100%;
                        overflow: hidden;

                        img {
                            width: 100%; height: 100%;
                            object-fit: cover;
                        }
                    }
                    
                    .store-txt {
                        width: calc(160px / 350px) * 100%;
                        padding: 22px 10px;
                        
                        @include responsive(pc-screens) {
                            padding-top: 54px;
                            padding-left: 40px
                        }
                        
                        p {
                            @include gothic_font(medium);
                            
                            @include responsive(pc-screens) {
                                font-size: 20px;
                            }
                        }
                        
                        b {
                            display: block;
                            margin-top: 8px;
                            font-size: 22px;
                            
                            @include responsive(pc-screens) {
                                margin-top: 14px;
                                font-size: 36px;
                            }
                            
                            .red {
                                color: #f00;
                            }
                        }
                        
                        address,
                        .tel {
                            font-size: 14px;
                            color: $bk1;
                        }
                        
                        address {
                            margin-top: 16px;
                            
                            @include responsive(pc-screens) {
                                margin-top: 36px;
                                font-size: 18px;
                            }
                        }
                        
                        .tel {
                            margin-top: 8px;

                            @include responsive(pc-screens) {
                                margin-top: 10px;
                                font-size: 16px;
                            }

                            img {
                                width: 10px;
                                margin-right: 4px;
                            }
                        }   
                    }
                }
            } // affiliate-con
        } // affiliate
    } // affiliate-wrap
    
    .faq-wrap {
        margin-top: 130px;

        @include responsive(pc-screens) {
            margin-top: 200px;
        }

        ul.faq-list {
            margin-top: 60px;

            @include responsive(pc-screens) {
                margin-top: 120px;
            }

            li {
                border-bottom: 1px solid $bk5;
                padding: 20px 10px;
        
                @include responsive(pc-screens) {
                    padding: 30px 20px;
                }

                &:first-child {
                    border-top: 1px solid $bk5;
                }

                .q-box {
                    @include flex_between_center();
                    
                    p {
                        @include gothic_font(semibold, 18px);
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        
                        @include responsive(pc-screens) {
                            font-size: 22px;
                        }
    
                        b {
                            font-size: 120%;
                            margin-right: 5px;
                            color: $yellow-brown;
                        }
                    }

                    .dropdown {
                        @include icon_rotate(180deg);
                        height: 8px;
                        cursor: pointer;
            
                        @include responsive(pc-screens){
                            height: 10px;
                        }
                    }
                }
                
                .a-box {
                    display: none;
                    padding: 20px;
                    margin-top: 20px;
                    border-radius: 5px;
                    background-color: $bk6;
                    // text-align: right;
            
                    @include responsive(pc-screens) {
                        padding: 40px;
                    }
            
            
                    p {
                        @include content_align(justify, 1.8em);

                        a {
                            text-decoration: underline;
                        }
                    }
            
                    a {
                        .shortcut {
                            @include gothic_font(semibold, 1em);
                            color: $yellow-brown;
                            // margin-top: 20px;
                
                            // @include responsive(pc-screens) {
                            //     font-size: 17px;
                            // }
                
                            img {
                                margin-left: 10px;
                                height: 12px;
                                filter: $svg-yellowbrown;
                            }
                        }
                    }
                }
            }
        }
    }

    img {
        width: 10%;
    }
} // main


footer {
    @include footer();
}