@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';
@import './about_mixin_MD.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('membership_header.png');
}

main {
    word-break: keep-all; // 단어를 기준으로 줄바꿈

    @include responsive(tablet-screens) { font-size: 20px; }
    @include responsive(pc-screens) { font-size: 22px; }
    
    .mobile-view {
        
        @include responsive(tablet-screens) {
            display: none;
        }
    }
    
    h3 { 
        font-size: $h3;
        text-align: center;
        
        @include responsive(pc-screens) {
            font-size: 46px;
        }
    }
    
    .tab-menu-wrap {
        @include tab_menu(4);
    } // tab-menu-wrap

    .membership-wrap,
    .gift-membership-wrap {
        margin-top: 80px;

        @include responsive(pc-screens) {
            margin-top: 160px;
        }

        .table {
            margin-top: 40px;
            
            @include responsive(pc-screens) {
                margin-top: 80px;
            }
            
            .tr {
    
                @include responsive(pc-screens) {
                    @include flex_between();
                }
                
                .thead {
                    @include gothic_font(semibold, calc(1em + 4px));
                    padding: {
                        top: 30px;
                        bottom: 30px;
                        left: 20px;
                    }
                    border-top: 2px solid $bk4;
                    background-color: $bk6;
                    
                    @include responsive(pc-screens) {
                        width: calc(200px / 1400px) * 100%;
                        font-size: 28px;
                        text-align: center;
                        padding: {
                            top: 40px;
                            left: 0;
                            // bottom: 60px;
                        }
                        // border-bottom: 2px solid $bk4;
                        background-color: transparent;
                    }
                    
                } // .thead
                
                .tbody {
                    @include flex_between_center();
                    flex-wrap: wrap;
                    text-align: center;
                    border-top: 1px solid $bk4;
                    
                    @include responsive(pc-screens) {
                        width: calc(1200px / 1400px) * 100%;
                        border-top: 2px solid $bk4;
                        border-left: 1px solid $bk4;
                    }
                    
                    img {
                        width: 130px;
                        
                        @include responsive(pc-screens) {
                            width: 280px;
                        }
                    }
                    
                    > div {
                        padding: {
                            top: 28px;
                            bottom: 28px;
                        }
                        line-height: 30px;
                        
                        @include responsive(pc-screens) {
                            padding: {
                                top: 56px;
                                bottom:56px;
                            }
                            line-height: 44px;
                        }
                        
                        .light {
                            color: $bk2;
                        }
                        
                        .light-s {
                            display: block;
                            font-size: calc(1em - 4px);
                            color: $bk2;
                        }
    
                        &.td1, 
                        &.td2 {
                            width: 50%;
    
                            .card-title {
                                @include gothic_font(semibold, calc(1em + 4px));
                                display: block;
                                margin-top: 22px;
                            }
    
                            .card-txt {
                                line-height: calc(1em + 10px);
                                margin-top: calc(1em - 4px);
                                color: $bk2;
                            }
                            
                            a {
                                @include gothic_font(semibold, calc(1em + 2px));
                                display: block;
                                height: 44px;
                                line-height: 44px;
                                margin: 26px auto 0;
                                border: 1px solid $bk4;
                                border-radius: 5px;
                                
                                @include responsive(tablet-screens) {
                                    height: 70px;
                                    line-height: 70px;
                                    margin-top: 50px;
                                }
                            }
                        } // .td1, .td2
                        
                        &.td2 {
                            border-left: 1px solid $bk4;
                        }
                        
                        &.td3 {
                            width: 100%;
                            border-top: 1px solid $bk4;
                        }

                        p { // low line height
                            line-height: 22px;

                            &:nth-child(2) {
                                margin-top: 15px;
                            }
                        }
                    }
                } // .tbody 

                &:first-child {

                    .tbody {

                        .td2 {
                            border-left: 0;
                        }
                    }
                } // .tr:first-child 

                &:last-child {
                    border-bottom: 1px solid $bk4;
                    
                    @include responsive(pc-screens) {
                        border-bottom: 2px solid $bk4;
                    }
                } // .tr:last-child
            } // .tr
        } // table
    } // membership-wrap, gift-membership-wrap
        
    .membership-wrap {
        

        .membership {
            
                .table {
                    
                    .tbody {
                        
                        > div {

                            &.td1, 
                            &.td2 {
                                
                                a {
                                    width: 130px;

                                    @include responsive(tablet-screens) {
                                        width: 250px;
                                    }
                                }
                            }
                            
                            &.td1 {
                                .fee {
                                    color: $red-brown;
                                }

                                a:hover {
                                    color: #fff;
                                    border-color: $red-brown;
                                    background-color: $red-brown;
                                }
                            }
                            
                            &.td2 {
                                border-left: 1px solid $bk4;

                                .fee {
                                    color: $yellow-brown;
                                }

                                a:hover {
                                    color: #fff;
                                    border-color: $yellow-brown;
                                    background-color: $yellow-brown;
                                }
                            }
                        }
                    }
                } // .table
        } // membership
    } // membership-wrap

    .gift-membership-wrap {

        .gift-membership {
    
            .table {
                
                .tbody {
                    
                    > div {

                        &.td1, 
                        &.td2 {
                            
                            a {
                                width: 150px;

                                @include responsive(tablet-screens) {
                                    width: 250px;
                                }

                                &:hover {
                                    color: #fff;
                                    border-color: $red-brown;
                                    background-color: $red-brown;
                                }
                            }

                            .fee {
                                color: $red-brown;
                            }
                        }
                    }
                }
            } // .table

            .gift-detail {
                
                h4 {
                    font-size: $h4;
                    margin-top: 80px;
                    
                    @include responsive(pc-screens) {
                        font-size: 36px;
                        margin-top: 80px * 2;
                    }
                }

                ul {
                    margin-top: 40px;
                    
                    @include responsive(pc-screens) {
                        margin-top: 40px * 2;
                    }
                    
                    li {
                        padding: 30px 0;
                        border-top: 1px solid $bk4;
                        
                        @include responsive(pc-screens) {
                            display: flex;
                            padding: 60px 0;
                        }

                        strong {
                            @include gothic_font(semibold, calc(1em + 6px));

                            @include responsive(pc-screens) {
                                width: 280px;
                                margin-left: 40px;
                            }

                        }

                        > div {
                            line-height: calc(1em + 12px);
                            margin-top: 30px;
                            margin-left: 10px;
                            
                            @include responsive(pc-screens) {
                                width: 1120px;
                                margin-top: 0;
                                margin-left: 0;
                            }
                            
                            p {
                                margin-top: 20px;
                                
                                @include responsive(pc-screens) {
                                    margin-top: 30px;
                                }
                                
                                &:first-child {
                                    margin-top: 0;
                                }

                                .light-s {
                                    font-size: calc(1em - 2px);
                                    color: $bk2;
                                }
                            }
                        }
                        
                        &:first-child {

                            p {
                                padding-left: 11px;
                                background: {
                                    image: url(../image/icon_bullet_dot.svg);
                                    repeat: no-repeat;
                                    position: left 0.8em;
                                    size: 2px;
                                }

                                .light {
                                    color: $bk2;
                                }
                            }
                        } // li:first-child

                        &:last-child {

                            div {
                                
                                .refund-box {
                                    margin-top: 30px;
                                    margin-left: -10px;
                                    border: 1px solid $bk4;
                                    border-radius: 5px;

                                    @include responsive(pc-screens) {
                                        margin-top: 40px;
                                    }

                                    div {
                                        margin: 20px;

                                        @include responsive(pc-screens) {
                                            margin: 40px;
                                        }

                                        span {
                                            display: block;
                                            margin-top: 10px;

                                            @include responsive(pc-screens) {
                                                margin-top: 15px;
                                            }
                                        }
                                    }
                                } // refund-box
                            }
                        } // li:last-child
                    } // li
                } // ul
            } // gift-detail
        } // gift-membership
    } // gift-membership-wrap

    .corporate-member-wrap {
        margin-top: 100px;
        
        @include responsive(pc-screens) {
            margin-top: 100px * 2;
        }

        .corporate-member {
            @include out_container();
            position: relative;
            height: 400px;
            color: #fff;
            background: {
                image: url(../image/membership_corporate.png);
                repeat: no-repeat;
                position: -507px -429px;
                size: calc(951px / 350px) * 100%;
            }
            
            @include responsive(pc-screens) {
                @include in_container();
                position: relative;
                height: 300px;
                background: {
                    image: url(../image/membership_corporate_pc.png);
                    position: 0;
                    size: 1527px;
                }
            }
            
            &::before {
                @include overlay_bk(1);
                background: linear-gradient(#000 0%, transparent);
                
                @include responsive(pc-screens) {
                    background: none;
                }
            }
            
            .back-cover {
                @include overlay_bk(0.6);
                
                @include responsive(pc-screens) {
                    background-color: rgba(0, 0, 0, 0.4);   
                }
            }
            // background-color: darkblue;
            
            .corporate-txt {
                
                @include responsive(pc-screens) {
                    margin-left: 120px;
                }

                h3 {
                    margin-top: 50px;
                    font-size: calc(1em + 10px);
                    
                    @include responsive(pc-screens) {
                        margin-top: 65px;
                        font-size: 46px;
                        text-align: left;
                    }
                }

                p {
                    line-height: calc(1em + 2px + 10px);
                    margin-top: 30px;
                    text-align: center;
                    
                    @include responsive(pc-screens) {
                        margin-top: 40px;
                        text-align: left;
                    }
                }
            } // corporate-txt
            
            p, button {
                font-size: calc(1em + 2px);
            }
            
            button {
                position: absolute;
                right: 50%; bottom: 50px;
                width: 150px; height: 50px;
                transform: translateX(50%);
                // margin: 90px auto 0;
                color: #fff;
                border: 1px solid #fff;
                
                @include responsive(pc-screens) {
                    right: 120px; bottom: 44px;
                    transform: translateX(0);
                    width: 200px; height: 66px;
                }
            }
        } // corporate-member
    } // corporate-member-wrap

    .affiliate-wrap {
        margin-top: 100px;

        @include responsive(pc-screens) {
            margin-top: 100px * 2;
        }
        
        .affiliate {

            ul.affiliate-con {
                margin-top: 40px;
                
                @include responsive(pc-screens) {
                    @include flex_between();
                    flex-wrap: wrap;
                    margin-top: 100px;
                }

                li {
                    @include flex_between();
                    width: 100%; height: 142px;
                    margin-bottom: 20px;
                    border: 1px solid $bk4;
                    border-radius: 5px;
                    
                    @include responsive(pc-screens) {
                        width: 680px; height: 275px;
                        
                    }

                    img {
                        width: 190px / 350px * 100%;
                    }
                    
                    .store-txt {
                        width: calc(160px / 350px) * 100%;
                        padding: 22px 10px;

                        @include responsive(pc-screens) {
                            padding-top: 54px;
                            padding-left: 40px
                        }

                        p {
                            @include gothic_font(medium);
                            
                            @include responsive(pc-screens) {
                                font-size: 26px;
                            }
                        }
                        
                        b {
                            display: block;
                            margin-top: 4px;
                            font-size: 22px;
                            
                            @include responsive(pc-screens) {
                                margin-top: 14px;
                                font-size: 36px;
                            }
                            
                            .red {
                                color: #f00;
                            }
                        }
                        
                        address,
                        a {
                            font-size: 12px;
                        }
                        
                        address {
                            margin-top: 16px;
                            
                            @include responsive(pc-screens) {
                                margin-top: 36px;
                                font-size: 18px;
                            }
                        }
                        
                        a {
                            
                            @include responsive(pc-screens) {
                                margin-top: 10px;
                                font-size: 16px;
                            }

                            img {
                                width: 10px;
                                margin-right: 4px;
                            }
                        }
                        
                    }

                }
            } // affiliate-con
        } // affiliate
    } // affiliate-wrap
    
    .faq-wrap {
        margin-top: 100px;
        
        @include responsive(pc-screens) {
            margin-top: 100px * 2;
        }
    }

    img {
        width: 10%;
    }
} // main


footer {
    @include footer();
}