@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();

    @include full_bg('facility_header.png');
}

main {
    // overflow-x: hidden; 
    .container{
        @include tab_menu();
    }

        
        .main-img {
            @include out_container();

            @include responsive(pc-screens) {
                @include in_container();

            }
            img {
                width:100%;
            }
        } //main-img
    
        
        .info {

            .title {
                margin-top:30px;
                line-height: 36px;
                @include batang_font(medium, 22px);

                @include responsive(pc-screens) {
                    @include batang_font(medium, $h2);
                    line-height: 1.8em;
                }

                br {
                    @include responsive(pc-screens) {
                        display: none !important;
                    }
                }

                span {
                    display: inline;

                    @include responsive(pc-screens) {
                        display: block;
                    }
                }
            } //title

            .des {
                @include gothic_font(regular);
                @include content_align(justify);
                margin-top: 44px;
                margin-bottom: 77px;

                @include responsive(pc-screens) {
                    @include gothic_font(regular, $h6);
                }

                br {
                    @include responsive(pc-screens) {
                        display: none !important;
                    }
                }
            }
        } //info

        .M1 {
            
            img {
                width:100%;
                overflow-x: hidden;
                @include out_container();

                @include responsive(pc-screens) {
                    @include in_container();
                    width:100%;
                }
            }

            .sub {
                display: none;
                @include responsive(pc-screens) {
                    display: block;
                    text-align: right;
                    
                    @include gothic_font(light,18px);
                    color: $bk2;
                    margin-top:22px;
                }
            }

            .M1-constructor {
                width: 190px;
                margin: 0 auto;

                    
                .img {
                    position: relative;
                    width: 0;
                    height: 140px;
                    align-items: center;

                    img {
                            position: absolute;
                            top: -60px;
                            width:190px;
                            height:190px;
                            margin: 0 auto;

                            @include responsive(pc-screens) {
                                width:400px;
                                height:400px;
                                left:-600px; top: -230px;
                            }
                        }
                }
                
                .name {
                    margin-top: 10px;
                    text-align: center;
                    
                    @include responsive(pc-screens) {
                        position: relative;
                        top:60px; left:-400px;
                    }

                    p:first-child {
                        @include gothic_font(bold,22px);
                        
                        @include responsive(pc-screens) {
                            @include gothic_font(bold,34px);
                        }
                    }

                    p:last-child {
                        @include gothic_font(light);
                        color: $bk2;
                        margin-top: 5px;

                        @include responsive(pc-screens) {
                            @include gothic_font(light,26px);  
                        }
                    }
                }         
            } // M1-constructor

            .M1-detail {
                display: flex;
                flex-direction: column;
                
                p:first-of-type {
                    @include gothic_font(semibold, 28px);
                    text-align: center;
                    margin: 30px 0 20px;
                    
                    @include responsive(pc-screens) {
                        @include gothic_font(semibold, 56px);  
                        position: relative;
                        left: -44px; top:-250px;
                    }
                    
                }

                p:last-of-type {
                    @include gothic_font(regular);
                    @include content_align(center, 1.8em);

                    br {
                        @include responsive(pc-screens) {
                            display: none !important;
                        }
                    }
    
                    span {
                        display: inline;
    
                        @include responsive(pc-screens) {
                            display: block;
                        }
                    }

                    @include responsive(pc-screens) {
                        position: relative;
                        top:-270px; left:620px;
                        text-align: left;
                        @include gothic_font(regular,22px);       
                    }
                }
                .link {
                    text-align: center;
                    a {
                        
                        @include gothic_font(semibold,14px);
                        margin: 35px 0 100px 0;
                        
                        @include responsive(pc-screens) {
                            @include gothic_font(semibold,20px);
                            position: relative;
                            top:-280px; left:-40px;
                            
                        }
    
                        img {  
                            height: 13px;
                            
                            @include responsive(pc-screens) {
                                width: 20px;
                                height: 15px;
                                position: relative;
                                top: -2px; left:10px;
                            }
                        }
                    }
                }

            }//M1-detail
        } //M1

        .M2 {
            @include responsive(pc-screens) {
                margin-top: 200px;
            }

            img {
                width:100%;
                overflow-x: hidden;
                @include out_container();

                @include responsive(pc-screens) {
                    @include in_container();
                    width:100%;
                    margin-top: -400px;
                }
            }

            .sub {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                    @include gothic_font(light,18px);
                    color: $bk2;
                    margin-top:22px;
                }    
            }

            .M2-constructor {
                width: 190px;
                margin: 0 auto;

                    
                .img {
                    position: relative;
                    width: 0;
                    height: 200px;
                    align-items: center;
                    // margin: 0 auto;

                    img {
                            position: absolute;
                            top: -60px;
                            width:190px;
                            height:190px;
                            margin: 0 auto;

                            @include responsive(pc-screens) {
                                width:400px;
                                height:400px;
                                top:-250px;
                                left:300px;
                            }
        
                        }
                }
                
                .name {
                    margin-top: -55px;
                    text-align: center;
                    
                    @include responsive(pc-screens) {
                        position: relative;
                        top:43px; left:400px;
                    }

                    p:first-child {
                        @include gothic_font(bold,22px);
                        
                        @include responsive(pc-screens) {
                            @include gothic_font(bold,34px);
                        }
                    }

                    p:last-child {
                        @include gothic_font(light);
                        color: $bk2;
                        margin-top: 5px;
                        
                        @include responsive(pc-screens) {
                            @include gothic_font(light,26px);  
                        }
                    }
                }         
            } // M2-constructor

            .M2-detail {
                display: flex;
                flex-direction: column;
                
                p:first-of-type {
                    @include gothic_font(semibold,28px);
                    text-align: center;
                    margin: 30px 0 20px;

                    @include responsive(pc-screens) {
                        @include gothic_font(semibold,56px);  
                        position: relative;
                        top:-230px; left:40px;
                    }
                }

                p:last-of-type {
                    @include gothic_font(regular);
                    @include content_align(center, 1.8em);
                    color: $bk1;

                    @include responsive(pc-screens) {
                        position: relative;
                        top:-250px; left:-620px;
                        text-align: right; 
                        @include gothic_font(regular,22px);       
                    }
                }

                .link {
                    text-align: center; 
                    
                    a {
                        @include gothic_font(semibold,14px);
                        margin: 35px 0 100px 0;
    
                        @include responsive(pc-screens) {
                            @include gothic_font(semibold,20px);
                            position: relative;
                            top:-260px; left:40px;
                            
                        }
                        
                        img {  

                            height: 13px;  
                            
                            @include responsive(pc-screens) {
                                width: 20px;
                                height: 15px;
                                position: relative;
                                top: 198px; left:10px;
                            }
                        }
                    }
                }
            }// M2-detail
        } //M2

        .Kid {
            @include responsive(pc-screens) {
                margin-top: -140px;
            }
            img {
                width:100%;
                overflow-x: hidden;
                @include out_container();

                @include responsive(pc-screens) {
                    @include in_container();
                    width:100%;
                    
                }
            }

            .sub {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                    text-align: right;
                    
                    @include gothic_font(light,18px);
                    color: $bk2;
                    margin-top:22px;
                }
            }

            .Kidstudy-constructor {
                width: 190px;
                margin: 0 auto;
                
                .img {
                    position: relative;
                    width: 0;
                    height: 200px;
                    align-items: center;
                    // margin: 0 auto;

                    img {
                            position: absolute;
                            top: -60px;
                            width:190px;
                            height:190px;
                            margin: 0 auto;
                            
                            @include responsive(pc-screens) {
                                width:400px;
                                height:400px;
                                left:-600px; top: -230px;
                            }

                        }
                }
                
                .name {
                    margin-top: -55px;
                    text-align: center;
                    
                    @include responsive(pc-screens) {
                        position: relative;
                        top:60px; left:-380px;
                    }

                    p:first-child {
                        @include gothic_font(bold,22px);
                        
                        @include responsive(pc-screens) {
                            @include gothic_font(bold,34px);
                        }
                    }

                    p:last-child {
                        @include gothic_font(light);
                        color: $bk2;
                        margin-top: 10px;

                        @include responsive(pc-screens) {
                            @include gothic_font(light,26px);  
                        }
                    }
                }         
            }//Kidstudy-constructor

            .Kid-detail {
                display: flex;
                flex-direction: column;
                
                p:first-of-type {
                    @include gothic_font(semibold,28px);
                    text-align: center;
                    margin: 30px 0 20px;
                    @include responsive(pc-screens) {
                        @include gothic_font(semibold,56px);  
                        position: relative;
                        left: 70px; top:-250px;
                    }

                }

                p:last-of-type {
                    @include gothic_font(regular);
                    @include content_align(center, 1.8em);
                    color: $bk1;

                    @include responsive(pc-screens) {
                        position: relative;
                        top:-270px; left:580px;
                        text-align: left;  
                        @include gothic_font(regular,22px);       
                    }

                    br {
                        @include responsive(pc-screens) {
                            display: none !important;
                        }
                    }
    
                    span {
                        display: inline;
    
                        @include responsive(pc-screens) {
                            display: block;
                        }
                    }
                }
                .link{
                    text-align: center;
                    a {
                        @include gothic_font(semibold,14px);
                        margin: 35px 0 100px 0;
    
                        @include responsive(pc-screens) {
                            @include gothic_font(semibold,20px);
                            position: relative;
                            top:-280px; left:-80px;
                            
                        }
                        
                        img {  
                            
                            height: 13px;   
    
                            @include responsive(pc-screens) {
                                width: 20px;
                                height: 15px;
                                position: relative;
                                top: -2px; left:10px;
                            }
                        }
                    }
                }
            } //Kid-detail
        } //Kid

        .container {     
                .leeumstore {
                    @include responsive(pc-screens) {
                        width:46.52777777777778%;
                    }
                    img {
                        width:100%;
                        @include responsive(pc-screens) {
                            height:505px;
                        }

                    }
                    
                    p {
                        &:first-of-type {
                            @include gothic_font(semibold);  
                            margin :15px 0 25px 0;   

                            @include responsive(pc-screens) {
                                @include gothic_font(semibold,24px);
                            }
                        }
    
                        &:nth-of-type(2) {
                            // @include gothic_font(regular, 14px);
                            // line-height: 26px;
                            @include content_align(justify);
                            margin-bottom: 67px;

                            @include responsive(pc-screens) {
                                font-size: 20px;
                            }
                        }
                        
                        span:first-child {
                            @include gothic_font(bold, 26px);
                            margin-right: 14px;

                            @include responsive(pc-screens) {
                                font-size: $h2;
                                margin-right: 28px;  
                            }
                        }

                        span:last-child {
                            font-size: 18px;

                            @include responsive(pc-screens) {
                                font-size: 24px;
                            }
                        }
                    }
                    .leeumstore-detail-flexbox {

                        .leeumstore-detail {
                            display: flex;
                            width:100%;
                            margin-bottom: 64px;
                            justify-content: space-between;
                            img {
                                width:16px;
                                height:16px;
                                margin-right: 10px;

                                @include responsive(pc-screens) {
                                    width: 18px; height: 18px;
                                    margin-top: -3px;
                                }
                            }
    
                            a {
                                display: inline-block;
                                @include gothic_font(medium);
                                color: $bk2;

                                @include responsive(pc-screens) {
                                    @include gothic_font(medium,20px);
                                }
                                
                            }
    
                            .shortcut {
                                @include gothic_font(semibold);
                                color: $yellow-brown;
                                
                                @include responsive(pc-screens) {
                                    @include gothic_font(semibold,20px);
                                    left:300px;
                                }
                                img {
                                    width:11px;
                                    height:11px;
                                    margin-left: 10px;
                                    filter: $svg-yellowbrown; 

                                    @include responsive(pc-screens) {
                                        width:18px;
                                        height:18px;
                                    }
                                }
                            }
                        }// leeumstore-detail
                    } // leeumstore-detail-flexbox
                }// leeumstore
    
                .Champcoffee {
                    @include responsive(pc-screens) {
                        position: relative;
                        top:-905px; left:750px;
                        width:46.52777777777778%;
                        
                    }
                    img {
                        width:100%;
                        @include responsive(pc-screens) {
                            height:505px;
                        }
                    }
                    
                    p {
                        &:first-of-type {
                            @include gothic_font(semibold);  
                            margin :15px 0 25px 0;   
    
                            @include responsive(pc-screens) {
                                @include gothic_font(semibold,24px);
                            }
                        }
    
                        &:nth-of-type(2) {
                            @include content_align(justify);
                            margin-bottom: 67px;

                            @include responsive(pc-screens) {
                                @include gothic_font(regular,22px);
                                line-height: 40px;
                            }
                        }
                        
                        span:first-child {
                            @include gothic_font(bold,26px);
                            margin-right: 14px;
                            
                            @include responsive(pc-screens) {
                                font-size: $h2;
                                margin-right: 28px;  
                            }
                        }

                        span:last-child {
                            font-size: 18px;

                            @include responsive(pc-screens) {
                                font-size: 24px;
                        }
                    }
                    }    
                    .Champcoffee-detail-flexbox {
                        
                        .Champcoffee-detail {
                            display: flex;
                            width:100%;
                            margin-bottom: 64px;
                            justify-content: space-between;
                            
                            img {
                                width:16px;
                                height:16px;
                                margin-right: 10px;

                                @include responsive(pc-screens) {
                                    width: 18px; height: 18px;
                                    margin-top: -3px;
                                }
                            }
    
                            a {
                                display: inline-block;
                                @include gothic_font(medium);
                                color: $bk2;

                                @include responsive(pc-screens) {
                                    @include gothic_font(medium,20px);
                                }
                                
                            }
    
                            .shortcut {
                                @include gothic_font(semibold);
                                color: $yellow-brown;
                                
                                @include responsive(pc-screens) {
                                    @include gothic_font(semibold,20px);
                                    left:300px;
                                }
                                img {
                                    width:11px;
                                    height:11px;
                                    margin-left: 10px;
                                    filter: $svg-yellowbrown; 

                                    @include responsive(pc-screens) {
                                        width:18px;
                                        height:18px;
                                    }
                                }
                            }
                        }// Champcoffee-detail
                    } // Champcoffee-detail-flexbox
                }// Champcoffee
                
                .Locker {
                    @include responsive(pc-screens) {
                        position: relative;
                        top: -780px;
                        width:46.52777777777778%;

                    }
                        img {
                            width:100%;
                            @include responsive(pc-screens) {
                                height:505px;
                            }
                        }
                        p {
                            &:first-of-type {
                                @include gothic_font(semibold);  
                                margin :15px 0 25px 0;   

                                @include responsive(pc-screens) {
                                    @include gothic_font(semibold,24px);
                                }
                                span:first-child {
                                    @include gothic_font(bold, 26px);
                                    margin-right: 14px;
        
                                    @include responsive(pc-screens) {
                                        font-size: $h2;
                                        margin-right: 28px;  
                                    }
                                }
                                span:last-child {
                                    font-size: 18px;

                                @include responsive(pc-screens) {
                                    font-size: 24px;
                                }
                                }
                            }
    
                            &:nth-of-type(2) {
                                @include content_align(justify);
                                margin-bottom: 67px;
    
                                @include responsive(pc-screens) {
                                    font-size: 20px;
                                }   
                            }
                            
                            .type {
                                @include gothic_font(bold,16px);
                                margin-right: 5px;

                                @include responsive(pc-screens) {
                                    @include gothic_font(bold,24px);  
                                }
    
                            }
                        }
                }//locker
    
                .ticketing-machine {
                    @include responsive(pc-screens) {
                        position: relative;
                        top:-1640px; left:750px;
                        width:46.52777777777778%;
                    }

                    img {
                        width:100%;
                        @include responsive(pc-screens) {
                            height:505px;
                        }
                    }
                    
                    p {
                        &:first-of-type {
                            @include gothic_font(semibold);  
                            margin :19px 0 23px 0;  
                            
                            @include responsive(pc-screens) {
                                @include gothic_font(semibold,24px);
                            }

                            span:first-child {
                                @include gothic_font(bold, 26px);
                                margin-right: 14px;
    
                                @include responsive(pc-screens) {
                                    font-size: $h2;
                                    margin-right: 28px;  
                                }
                            }
    
                            span:last-child {
                                font-size: 18px;
    
                                @include responsive(pc-screens) {
                                    font-size: 24px;
                                }
                            }
                        }
    
                        &:nth-of-type(2) {
                                @include content_align(justify);
                                margin-bottom: 67px;
    
                                @include responsive(pc-screens) {
                                    font-size: 20px;
                                }   
                        }
                        
                    }
                }//ticketing-machine
                
                .parking {
                    @include responsive(pc-screens) {
                        position: relative;
                        top:-1450px;
                        width:46.52777777777778%;
                    }

                    img {
                        width:100%;
                        @include responsive(pc-screens) {
                            height:505px;
                        }
                    }
    
                    p {
                        &:first-of-type {
                            @include gothic_font(semibold);  
                            margin :19px 0 23px 0;   

                            @include responsive(pc-screens) {
                                @include gothic_font(semibold,24px);
                            }
                            span:first-child {
                                @include gothic_font(bold, 26px);
                                margin-right: 14px;
    
                                @include responsive(pc-screens) {
                                    font-size: $h2;
                                    margin-right: 28px;  
                                }
                            }
    
                            span:last-child {
                                font-size: 18px;
    
                                @include responsive(pc-screens) {
                                    font-size: 24px;
                                }
                            }
                        }
    
                        &:nth-of-type(2) {
                            @include content_align(justify);
    
                                @include responsive(pc-screens) {
                                    font-size: 20px;
                                } 
    
                            span {
                                @include gothic_font(semibold,18px);

                                @include responsive(pc-screens) {
                                    @include gothic_font(semibold,20px);
                                    line-height: 40px;
                                }
                            }
                        }
                        
                        &:last-of-type {
                            margin:0px 0 60px 0;
                            font-size: 14px;

                            @include responsive(pc-screens) {
                                font-size: 16px;
                                
                            }
                        }
                        
                        span {
                            @include gothic_font(bold,26px);
                            margin-right: 5px;

                            @include responsive(pc-screens) {
                                @include gothic_font(bold,36px);
 
                            }
    
                        }
                        
                    }
    
                    .parking-detail {
                        margin-bottom: 64px;
                        text-align: right;
                        a {
                            position: relative;
                            @include gothic_font(semibold);
                            color: $yellow-brown;
    
                            @include responsive(pc-screens) {
                                @include gothic_font(semibold,20px);
                                
                            }
    
                            img{
                                width:11px;
                                height:11px;
                                margin-left: 10px;
                                filter: $svg-yellowbrown; 

                                @include responsive(pc-screens) {
                                    width:18px;
                                    height:18px;
                                }
                            }
                        }
                    }//parking-detail
                }//parking
            }
    
                .others {
                    @include responsive(pc-screens) {
                        position: relative;
                        top:-2330px; left:750px;

                        width:46.52777777777778%;
                    }

                    img {
                        width:100%;
                        @include responsive(pc-screens) {
                            height:505px;
                        }
                    }
                    
                    p {
                        &:first-of-type {
                            @include gothic_font(semibold);  
                            margin :19px 0 23px 0;   

                            @include responsive(pc-screens) {
                                @include gothic_font(semibold,24px);
                            }
                            
                            span:first-child {
                                @include gothic_font(bold, 26px);
                                margin-right: 14px;
    
                                @include responsive(pc-screens) {
                                    font-size: $h2;
                                    margin-right: 28px;  
                                }
                            }
    
                            span:last-child {
                                font-size: 18px;
    
                                @include responsive(pc-screens) {
                                    font-size: 24px;
                                }
                            }
                        }
    
                        &:nth-of-type(2) {
                            @include content_align(justify);
                            margin-bottom: 67px;

                            @include responsive(pc-screens) {
                                font-size: 20px;
                            }   
                    }
                    }
                }//others
        }//container

            .director {
                width: 190px;
                margin: 0 auto;

                .background {
                    @include out_container();
                    height:431px;

                    @include responsive(pc-screens) {
                        height:650px;
                        margin-top: 120px;
                    }
                }
                
                .director {
                    position: absolute;
                    top:70px;
                    margin-left:-40px ;
                    width:300px;
                    height:549px;

                    @include responsive(pc-screens) {
                        position: absolute;
                        top:110px;
                        left:490px;
                        width:587px;
                        height:1028px;
                    }
                }

                h3 {
                    position: absolute;
                    top:280px;
                    margin-left: 65px;
                    color: #fff;
                    line-height: 48px;
                    @include gothic_font(bold,30px);

                    @include responsive(pc-screens) {
                        left:665px;
                        top:580px; 
                        margin-left: 0px;
                        @include gothic_font(bold,46px);
                        line-height: 68px;
                    }
                }
                
                p {
                    position: absolute;
                    top:320px;  
                    margin-left: 60px;         
                    color: #fff;
                    line-height: 30px;
                    opacity: 0.8;
                    @include gothic_font(light,14px);

                    @include responsive(pc-screens) {
                        left:660px;
                        top:640px;
                        margin-left: 0px;
                        @include gothic_font(light,20px);
                    }
                }
                
                .award {
                    display: none;
                    .title {
                        @include gothic_font(semibold,20px);
                        opacity: 0.8;
                        margin-bottom: 10px;
                    }
                    
                    .sub {
                        @include gothic_font(regular,14px);
                        opacity: 0.8;
                    }

                    @include responsive(pc-screens) {
                        position: absolute;
                        left:1100px;
                        top:300px;
                        display: block;
                        color:#fff;
                        line-height: 28px;        
                    }
                }
                
                .director-info {
                    position: absolute;
                    top:380px;
                    margin-left: -20px;
                    line-height: 26px;
                    text-align: center;
                    color:#ffffff;
                    @include gothic_font(light,14px);
                    
                    br {
                        @include responsive(pc-screens) {
                            display: none !important;
                        }
                    }
    
                    span {
                        display: inline;
    
                        @include responsive(pc-screens) {
                            display: block;
                        }
                    }

                    @include responsive(pc-screens) {
                        font-size: 20px;
                        line-height: 40px;
                        margin-left: 0px;
                        left:490px;
                        top:700px;
                    }
                }
            }
            .renewal-info {
                display: flex;
                flex-direction: column;

                @include responsive(pc-screens) {
                    flex-direction: row;
                }

                p {
                    @include content_align(justify);

                    @include responsive(pc-screens) {
                        width:45.34722222222222%;
                        font-size: 18px;
                    }

                    &:first-of-type {
                        margin : 60px 0 60px 0;
                        
                        span {
                            @include gothic_font(semibold);

                            @include responsive(pc-screens) {
                                font-size: 18px;
                            }
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 100px;

                        @include responsive(pc-screens) {
                            margin: 60px 0 100px 130px;
                        }
                    }
                }
            }//renewal-info

            .renewal-detail {
                h4 {
                    @include gothic_font(semibold,18px);
                    margin-bottom:30px;

                    @include responsive(pc-screens) {
                        @include gothic_font(semibold,28px);
                    }
                }

                ul {
                    li {
                        img {
                            @include out_container();
                            
                            @include responsive(pc-screens) {
                                @include in_container();
                            }
                        }
                        p {
                            text-align: center;

                            &:first-of-type {
                                @include gothic_font(semibold,24px);
                                margin-top: 40px;
                                margin-bottom: 12px;

                                @include responsive(pc-screens) {
                                    @include gothic_font(semibold,32px);
                                    line-height:20px;
                                    margin-top: 60px;
                                }
                            }

                            &:last-of-type {
                                @include gothic_font(regular);
                                @include content_align(center, 1.5em);
                                color: $bk2;
                                margin-bottom: 40px;

                                @include responsive(pc-screens) {
                                    @include gothic_font(regular,24px);
                                    line-height:54px;
                                    margin-bottom: 60px;
                                }
                            }
                        }
                        
                        br {
                            @include responsive(pc-screens) {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        

    


footer {
    @include footer();
}