@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/variable/pretendardvariable-jp-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css");
/* -------------------------------------------------------------------------------------------------------------------- */
.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none !important;
}

.br-bar {
  width: 3px;
  height: 18px;
  margin: 0 8px 3px 0;
  vertical-align: middle;
  background: #be6a15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.04em;
}

input, textarea, button, select, pre {
  font-family: inherit;
  letter-spacing: -0.04em;
}

header {
  margin-bottom: 6%;
}

main {
  margin-bottom: 12%;
}

section > h2 {
  font-size: 0;
}

ul, ol {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

header a:hover, footer a:hover {
  font-weight: bold;
}

img, span, strong, label, time {
  display: inline-block;
  vertical-align: middle;
}

address {
  font-style: normal;
}

button {
  border: 0;
  background: transparent;
}

input:focus {
  outline: none;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  zoom: 1.1;
}
input[type=checkbox] {
  position: relative;
  width: 14px;
  height: 14px;
  outline: none !important;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=checkbox]:hover {
  background: #d4d4d4;
}
input[type=checkbox]:checked {
  color: #fff;
  background-color: #ac3f21;
  border-color: #d4d4d4;
}
input[type=checkbox]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}
input[type=checkbox]::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: scale(0) translate(-50%, -50%);
  overflow: hidden;
}
input[type=checkbox] + label {
  color: #3c3c3c;
  margin-left: 5px;
}
input[type=checkbox]:checked + label {
  color: #ac3f21;
  font-weight: 600;
}

a, input, button, select, label {
  cursor: pointer;
}

input, select {
  border: 1px solid #d4d4d4;
  color: #5c5c5c;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

input, button, select, textarea, video {
  border-radius: 5px;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
.container {
  padding: 0;
}

.select {
  margin: 0 auto;
}
.select .image-info {
  position: relative;
  display: flex;
  margin: 20px;
}
@media screen and (min-width: 1440px) {
  .select .image-info {
    position: relative;
    margin: 20px 20px 0 20px;
  }
}
.select .image-info img {
  width: 40px;
  margin-right: 16px;
}
@media screen and (min-width: 1440px) {
  .select .image-info img {
    width: 60px;
  }
}
.select .image-info .text p {
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 1440px) {
  .select .image-info .text p {
    font-size: 22px;
  }
}
.select .image-info .text strong {
  font-size: 24px;
}
@media screen and (min-width: 1440px) {
  .select .image-info .text strong {
    font-size: 32px;
  }
}
.select ul.select {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 89.7435897436%;
  top: 0;
  margin-left: 20px;
}
@media screen and (min-width: 1440px) {
  .select ul.select {
    width: 42.8571428571%;
    right: 20px;
  }
}
.select ul.select li {
  position: relative;
  height: 45px;
  border: 1px solid #c5c5c5;
  margin-top: 70px;
}
@media screen and (min-width: 1440px) {
  .select ul.select li {
    margin-top: 0;
  }
}
.select ul.select li:first-child {
  width: 25.7142857143%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.select ul.select li:nth-child(2) {
  width: 48.5714285714%;
}
.select ul.select li:nth-child(2).on {
  background-color: #3c3c3c;
  color: white;
}
.select ul.select li:last-child {
  width: 25.7142857143%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (min-width: 768px) {
  .select ul.select li {
    height: 55px;
  }
}
.select ul.select li span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .select ul.select li span {
    font-size: 20px;
  }
}

/* div.logo {
    .image {
        display: flex;
        margin: 20px;

        @include responsive(pc-screens) {
            // padding: 120px 0 0 20px;
        }

        img {
            width: 36px;
            margin-right: 16px;

            @include responsive(pc-screens) {
                width: 70px;
            }
        }
        p {
            @include gothic-font(medium, 12px);

            @include responsive(pc-screens) {
                font-size: 22px;
            }
        }

        strong {
            font-size: 24px;

            @include responsive(pc-screens) {
                font-size: 36px;
            }
        }
    }
} */
.member {
  /*  .submit {
       text-align: center;
       input{
           margin-top: 40px;
           padding: 10px 15px;
           border: 0;
           color: white;
           background-color: $dark-brown;
           @include gothic-font(semibold, 12px);

           @include responsive(pc-screens) {
               font-size: 16px;
               padding: 10px 22px;
           }
       }
   } */
}
.member h6 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}
@media screen and (min-width: 1440px) {
  .member h6 {
    font-size: 28px;
    font-weight: 600;
  }
}
.member p {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin: 0 20px 10px 20px;
}
@media screen and (min-width: 1440px) {
  .member p {
    font-size: 18px;
  }
}
.member p span {
  color: red;
  margin-right: 10px;
}
.member form {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
.member form label {
  display: inline;
}
.member form input {
  padding: 3px;
}
@media screen and (min-width: 1440px) {
  .member form input {
    font-size: 14px;
    padding: 5px;
  }
}
.member form .field {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 10px 20px;
}
.member form .field .letter {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .member form .field .letter {
    font-size: 18px;
  }
}
.member form .field label:first-child {
  width: 34.2857142857%;
}
@media screen and (min-width: 1440px) {
  .member form .field label:first-child {
    width: 17.1428571429%;
  }
}
.member form .field.birth input:first-child, .member form .field.id input:first-child, .member form .field.pw input:first-child, .member form .field.pw-confirm input:first-child, .member form .field.tel-number input:first-child {
  width: 73%;
}
@media screen and (min-width: 1440px) {
  .member form .field.birth input:first-child, .member form .field.id input:first-child, .member form .field.pw input:first-child, .member form .field.pw-confirm input:first-child, .member form .field.tel-number input:first-child {
    width: 13%;
  }
}
.member form .field.name input {
  width: 40.3913043478%;
}
@media screen and (min-width: 1440px) {
  .member form .field.name input {
    width: 7.391304%;
  }
}
.member form .field.id input:last-child, .member form .field.tel-number input:last-child {
  margin-right: 0;
}
.member form .field.id input {
  border: 0;
}
.member form .field.pw input, .member form .field.pw-confirm input {
  border: 0;
}
.member form .field.id span, .member form .field.pw span, .member form .field.pw-confirm span {
  color: red;
}
.member form .field.mail input, .member form .field.address input {
  background-color: #f3f3f3;
  border: 0;
}
.member form .field.mail .entry {
  position: relative;
  display: flex;
}
.member form .field.mail .entry select {
  position: absolute;
  background: url(../../../image/icon_arrow_bk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: right 3px center;
  padding: 3px;
  background-color: #fff;
  background-size: 10px;
  width: 31.695652%;
  right: 0;
}
@media screen and (min-width: 1440px) {
  .member form .field.mail .entry select {
    left: 0;
    margin-left: 250px;
    text-align: center;
    width: 8.695652%;
    padding: 4px;
  }
}
.member form .field.mail .entry input {
  width: 28.695652%;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .member form .field.mail .entry input {
    width: 25.695652%;
  }
}
.member form .field.address .add .flex {
  display: flex;
  margin-bottom: 5px;
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add .flex {
    width: 100%;
    margin-bottom: 8px;
  }
}
.member form .field.address .add .flex input:first-child {
  width: 56%;
  margin-right: 5px;
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add .flex input:first-child {
    width: 16%;
  }
}
.member form .field.address .add .flex input:last-child {
  width: 40%;
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add .flex input:last-child {
    width: 13%;
  }
}
.member form .field.address .add .flex .postcode {
  width: 35.608696%;
  background-color: black;
  color: white;
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add .flex .postcode {
    width: 8.608696%;
  }
}
.member form .field.address .add .alone-add {
  margin-bottom: 5px;
}
.member form .field.address .add .alone-add input {
  width: 87%;
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add .alone-add input {
    width: 16%;
  }
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add .alone-add {
    width: 100%;
    margin-bottom: 8px;
  }
}
.member form .field .entry {
  width: 65.7142857143%;
  /*  padding: 0 20px 0 10px; */
}
@media screen and (min-width: 1440px) {
  .member form .field .entry {
    width: 100%;
    padding-left: 0;
  }
}
.member form .field .entry p {
  text-align: left;
}
.member form .field.gender label:first-child, .member form .field.agree label:first-child {
  margin-right: 5px;
}
@media screen and (min-width: 1440px) {
  .member form .field.gender label:first-child, .member form .field.agree label:first-child {
    margin-right: 0;
  }
}
.member form .field.agree {
  border-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .member form .field.agree .entry {
    position: relative;
    margin-bottom: 25px;
  }
}
.member form .field.agree .entry p {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 200;
  color: #c5c5c5;
  margin: 6px 0 0 0;
}
@media screen and (min-width: 1440px) {
  .member form .field.agree .entry p {
    position: absolute;
  }
}

div.movePage {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 1440px) {
  div.movePage {
    margin-top: 100px;
  }
}
div.movePage .movePage-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.movePage .movePage-wrap a {
  font-size: 15px;
  font-weight: 600;
  color: #3c3c3c;
}
div.movePage .movePage-wrap a:hover {
  color: #000;
}
div.movePage .movePage-wrap a:hover::after {
  transform: scale(1);
}
div.movePage .movePage-wrap a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: #000;
  transform: scale(0);
  transition: transform 0.3s;
}
div.movePage .movePage-wrap a img {
  height: 14px;
  filter: #3c3c3c;
}
div.movePage .movePage-wrap a.prev img {
  margin-right: 10px;
  transform: rotate(180deg);
}
div.movePage .movePage-wrap a.next .title {
  text-align: right;
}
div.movePage .movePage-wrap a.next img {
  margin-left: 10px;
}
div.movePage .movePage-wrap a p {
  display: none;
}
@media screen and (min-width: 1440px) {
  div.movePage .movePage-wrap a p {
    display: inline-block;
  }
  div.movePage .movePage-wrap a p .vert-bar {
    width: 1px;
    height: 16px;
    margin: 0 15px;
    vertical-align: middle;
    background: #acacac;
  }
  div.movePage .movePage-wrap a p .title {
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    color: #5c5c5c;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
div.movePage .submit {
  text-align: center;
}
div.movePage .submit input {
  padding: 10px 15px;
  border: 0;
  color: white;
  background-color: #6e3b3b;
  font-size: 12px;
  font-weight: 600;
}
@media screen and (min-width: 1440px) {
  div.movePage .submit input {
    font-size: 16px;
    padding: 10px 22px;
  }
}/*# sourceMappingURL=register_join_info.css.map */