@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-jp-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css");
/* -------------------------------------------------------------------------------------------------------------------- */
.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none !important;
}

.br-bar {
  width: 3px;
  height: 18px;
  margin: 0 8px 3px 0;
  vertical-align: middle;
  background: #be6a15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.04em;
}

input, textarea, button, select, pre {
  font-family: inherit;
  letter-spacing: -0.04em;
}

header {
  margin-bottom: 6%;
}

main {
  margin-bottom: 12%;
}

section > h2 {
  font-size: 0;
}

ul, ol {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

header a:hover, footer a:hover {
  font-weight: bold;
}

img, span, strong, label, time {
  display: inline-block;
  vertical-align: middle;
}

address {
  font-style: normal;
}

button {
  border: 0;
  background: transparent;
}

input:focus {
  outline: none;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  zoom: 1.1;
}
input[type=checkbox] {
  position: relative;
  width: 14px;
  height: 14px;
  outline: none !important;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=checkbox]:hover {
  background: #d4d4d4;
}
input[type=checkbox]:checked {
  color: #fff;
  background-color: #ac3f21;
  border-color: #d4d4d4;
}
input[type=checkbox]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}
input[type=checkbox]::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: scale(0) translate(-50%, -50%);
  overflow: hidden;
}
input[type=checkbox] + label {
  color: #3c3c3c;
  margin-left: 5px;
}
input[type=checkbox]:checked + label {
  color: #ac3f21;
  font-weight: 600;
}

a, input, button, select, label {
  cursor: pointer;
}

input, select {
  border: 1px solid #d4d4d4;
  color: #5c5c5c;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

input, button, select, textarea, video {
  border-radius: 5px;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
main {
  /*  section.logo {
       .image {
           display: flex;
           margin: 60px 0 44px 0;

           img {
               width: 36px;
               margin-right: 16px;

               @include responsive(pc-screens) {
                   width: 70px;
               }
           }
           p {
               @include gothic-font(medium, 12px);

               @include responsive(pc-screens) {
                   font-size: 22px;
               }
           }

           strong {
               font-size: 24px;

               @include responsive(pc-screens) {
                   font-size: 46px;
               }
           }
       }
   } */
}
main section .select {
  margin: 0 auto;
}
main section .select .image-info {
  display: flex;
  margin: 60px 0 44px 0;
}
@media screen and (min-width: 1440px) {
  main section .select .image-info {
    position: relative;
  }
}
main section .select .image-info img {
  width: 36px;
  margin-right: 16px;
}
@media screen and (min-width: 1440px) {
  main section .select .image-info img {
    width: 70px;
  }
}
main section .select .image-info .text p {
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 1440px) {
  main section .select .image-info .text p {
    font-size: 22px;
  }
}
main section .select .image-info .text strong {
  font-size: 24px;
}
@media screen and (min-width: 1440px) {
  main section .select .image-info .text strong {
    font-size: 46px;
  }
}
main section .select .image-info .info ul.select {
  align-items: center;
  bottom: -40px;
  left: 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid #c5c5c5;
  border-left: 0;
  width: 100%;
  border-radius: 5px;
}
@media screen and (min-width: 1440px) {
  main section .select .image-info .info ul.select {
    position: absolute;
    width: 42.8571428571%;
    right: 0;
    margin-top: 0;
  }
}
main section .select .image-info .info ul.select li {
  height: 30px;
  border-left: 1px solid #c5c5c5;
}
@media screen and (min-width: 1440px) {
  main section .select .image-info .info ul.select li {
    position: relative;
  }
}
main section .select .image-info .info ul.select li:first-child {
  background-color: #5c5c5c;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 26.8571428571%;
}
main section .select .image-info .info ul.select li:nth-child(2) {
  width: 46.2857142857%;
}
main section .select .image-info .info ul.select li:last-child {
  width: 26.8571428571%;
}
main section .select .image-info .info ul.select li span {
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  main section .select .image-info .info ul.select li span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
main section .select .image-info .info ul.select li.on span {
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 1440px) {
  main section .flex {
    display: flex;
    justify-content: space-between;
  }
}
main section .flex .type {
  border: 1px solid #c5c5c5;
  margin-top: 30px;
  padding: 60px 15px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  main section .flex .type {
    width: 31.7142857143%;
    padding: 80px 20px;
  }
}
main section .flex .type strong {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}
main section .flex .type strong span {
  font-size: 22px;
  font-weight: 200;
}
main section .flex .type strong:last-child {
  font-size: 18px;
  font-weight: 500;
}
main section .flex .type .fee.free {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  color: #6e3b3b;
}
main section .flex .type .fee.hun {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  color: #ac3f21;
}
main section .flex .type .fee.three-hun {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  color: #be6a15;
}
main section .flex .type p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #5c5c5c;
  line-height: 26px;
}
main section .flex .type .button.join {
  font-size: 22px;
  font-weight: 600;
  padding: 8px;
  border: 1px solid #6e3b3b;
  border-radius: 5px;
  background-color: #6e3b3b;
}
main section .flex .type .button.join a {
  color: #fff;
}
main section .flex .type .button.ask {
  font-size: 22px;
  font-weight: 600;
  padding: 8px;
  border: 1px solid #be6a15;
  border-radius: 5px;
  background-color: #be6a15;
}
main section .flex .type .button.ask a {
  color: #fff;
}
main section .flex .type .request {
  justify-content: space-between;
}
main section .flex .type .request .mem,
main section .flex .type .request .non-mem {
  font-size: 22px;
  font-weight: 600;
  padding: 8px;
  border: 1px solid #ac3f21;
  border-radius: 5px;
  background-color: #ac3f21;
  width: 49%;
}
main section .flex .type .request .mem a,
main section .flex .type .request .non-mem a {
  color: #fff;
}/*# sourceMappingURL=register_join_type.css.map */