@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-jp-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css");
/* -------------------------------------------------------------------------------------------------------------------- */
.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none !important;
}

.br-bar {
  width: 3px;
  height: 18px;
  margin: 0 8px 3px 0;
  vertical-align: middle;
  background: #be6a15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.04em;
}

input, textarea, button, select, pre {
  font-family: inherit;
  letter-spacing: -0.04em;
}

header {
  margin-bottom: 6%;
}

main {
  margin-bottom: 12%;
}

section > h2 {
  font-size: 0;
}

ul, ol {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

header a:hover, footer a:hover {
  font-weight: bold;
}

img, span, strong, label, time {
  display: inline-block;
  vertical-align: middle;
}

address {
  font-style: normal;
}

button {
  border: 0;
  background: transparent;
}

input:focus {
  outline: none;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  zoom: 1.1;
}
input[type=checkbox] {
  position: relative;
  width: 14px;
  height: 14px;
  outline: none !important;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=checkbox]:hover {
  background: #d4d4d4;
}
input[type=checkbox]:checked {
  color: #fff;
  background-color: #ac3f21;
  border-color: #d4d4d4;
}
input[type=checkbox]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}
input[type=checkbox]::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: scale(0) translate(-50%, -50%);
  overflow: hidden;
}
input[type=checkbox] + label {
  color: #3c3c3c;
  margin-left: 5px;
}
input[type=checkbox]:checked + label {
  color: #ac3f21;
  font-weight: 600;
}

a, input, button, select, label {
  cursor: pointer;
}

input, select {
  border: 1px solid #d4d4d4;
  color: #5c5c5c;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

input, button, select, textarea, video {
  border-radius: 5px;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
.container {
  padding: 0;
}

div.logo .image {
  padding: 20px;
  display: flex;
}
@media screen and (min-width: 1440px) {
  div.logo .image {
    padding: 120px 0 0 20px;
  }
}
div.logo .image img {
  width: 36px;
  margin-right: 16px;
}
@media screen and (min-width: 1440px) {
  div.logo .image img {
    width: 70px;
  }
}
div.logo .image p {
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 1440px) {
  div.logo .image p {
    font-size: 22px;
  }
}
div.logo .image strong {
  font-size: 24px;
}
@media screen and (min-width: 1440px) {
  div.logo .image strong {
    font-size: 36px;
  }
}

.member h6 {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .member h6 {
    font-size: 24px;
    font-weight: 600;
  }
}
.member p {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
.member p span {
  color: red;
  margin-right: 10px;
}
.member form {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
.member form label {
  display: inline;
}
.member form input {
  padding: 3px;
}
@media screen and (min-width: 1440px) {
  .member form input {
    font-size: 14px;
    padding: 5px;
  }
}
.member form .field {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 20px 0;
}
.member form .field .letter {
  padding: 0 0 0 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .member form .field .letter {
    font-size: 18px;
  }
}
.member form .field label:first-child {
  width: 34.2857142857%;
}
@media screen and (min-width: 1440px) {
  .member form .field label:first-child {
    width: 17.1428571429%;
  }
}
.member form .field.birth input:first-child, .member form .field.id input:first-child, .member form .field.pw input:first-child, .member form .field.pw-confirm input:first-child, .member form .field.tel-number input:first-child {
  width: 73%;
}
@media screen and (min-width: 1440px) {
  .member form .field.birth input:first-child, .member form .field.id input:first-child, .member form .field.pw input:first-child, .member form .field.pw-confirm input:first-child, .member form .field.tel-number input:first-child {
    width: 13%;
  }
}
.member form .field.name input {
  width: 40.3913043478%;
}
@media screen and (min-width: 1440px) {
  .member form .field.name input {
    width: 7.391304%;
  }
}
.member form .field.id input:last-child, .member form .field.tel-number input:last-child {
  text-align: center;
  margin-right: 0;
  margin-left: 10px;
}
.member form .field.id input {
  border: 0;
}
.member form .field.id .entry {
  display: flex;
}
.member form .field.id .entry input:last-child {
  width: 27.086957%;
  background-color: black;
  color: white;
  border: 0;
}
@media screen and (min-width: 1440px) {
  .member form .field.id .entry input:last-child {
    width: 7.086957%;
  }
}
.member form .field.tel-number input:last-child {
  width: 27.086957%;
  background-color: #be6a15;
  color: white;
  border: 0;
}
@media screen and (min-width: 1440px) {
  .member form .field.tel-number input:last-child {
    width: 7.086957%;
  }
}
.member form .field.tel-number .entry {
  display: flex;
}
.member form .field.pw input, .member form .field.pw-confirm input {
  border: 0;
}
.member form .field.id span, .member form .field.pw span, .member form .field.pw-confirm span {
  color: red;
}
.member form .field.mail input, .member form .field.address input {
  background-color: #f3f3f3;
  border: 0;
}
.member form .field.mail .entry {
  position: relative;
  display: flex;
}
.member form .field.mail .entry select {
  position: absolute;
  background: url(../../../image/icon_arrow_bk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: right 3px center;
  padding: 3px;
  background-color: #fff;
  background-size: 10px;
  width: 27.6956521739%;
  right: 20px;
}
@media screen and (min-width: 1440px) {
  .member form .field.mail .entry select {
    left: 0;
    margin-left: 250px;
    text-align: center;
    width: 8.695652%;
    padding: 4px;
  }
}
.member form .field.mail .entry input {
  width: 28.695652%;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .member form .field.mail .entry input {
    width: 25.695652%;
  }
}
.member form .field.address .add span {
  margin-bottom: 5px;
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add span {
    width: 100%;
    margin-bottom: 8px;
  }
}
.member form .field.address .add span input {
  width: 35.608696%;
}
.member form .field.address .add span input:nth-child(2) {
  background-color: black;
  color: white;
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add span input {
    width: 8.608696%;
  }
}
.member form .field.address .add span label {
  font-size: 13px;
  font-weight: 500;
}
.member form .field.address .add span .middle,
.member form .field.address .add span .last {
  width: 73%;
  width: 65.2173913043%;
}
@media screen and (min-width: 1440px) {
  .member form .field.address .add span .middle,
.member form .field.address .add span .last {
    width: 19.217391%;
  }
}
.member form .field .entry {
  width: 65.7142857143%;
  padding: 0 20px 0 10px;
}
@media screen and (min-width: 1440px) {
  .member form .field .entry {
    width: 100%;
  }
}
.member form .field.gender label:first-child, .member form .field.agree label:first-child {
  margin-right: 5px;
}
.member form .field.agree {
  border-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .member form .field.agree .entry {
    position: relative;
    margin-bottom: 25px;
  }
}
.member form .field.agree .entry p {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 200;
  color: #c5c5c5;
  margin-top: 6px;
}
@media screen and (min-width: 1440px) {
  .member form .field.agree .entry p {
    position: absolute;
  }
}
.member .submit {
  text-align: center;
}
.member .submit input {
  margin-top: 50px;
  padding: 10px 15px;
  border: 0;
  color: white;
  background-color: #6e3b3b;
  font-size: 12px;
  font-weight: 600;
}
@media screen and (min-width: 1440px) {
  .member .submit input {
    font-size: 16px;
    padding: 10px 22px;
  }
}/*# sourceMappingURL=register_join_info.css.map */