@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';


header {
    .image {
        text-align: center;
        margin-top: 60px;
        img {
            width: 70px;
        }
    }
}

main {

    section.login {
        // @include flex_between_center();
        ul.angle-select {
            @include flex_between();
            border-top: 1px solid $bk4;
            width: 100%;
            
            li {
                position: relative;
                width: 33.33333333333333%;
                height: 68px;
                border-left: 1px solid $bk4;
                
                @include responsive(tablet-screens) {
                    height: 65px;
                }
                
                &:last-child {
                    border-right: 1px solid $bk4;
                }
                
                &::after {
                    position: absolute;
                    top: -1px; left: -1px;
                    content: '';
                    display: block;
                    width: calc(100% + 2px); height: 5px;
                    background-color: #000;
                    z-index: 1;                            
                    scale: 0;
                }
                
                span {
                    @include element_center();
                    width: 100%;
                    font-size: 20px;
                    text-align: center;
                    cursor: pointer;
                    
                    transition: color 0.7s;
                    
                    color: $bk3;
                }
                
                &.on {
                    background-color: transparent;
                    
                    &::after {
                        scale: 1;
                    }
                    
                    span {
                        color: #000;
                        font-weight: 600; // semibold
                    }
                }
                
            }
        }

        /* .id-pw-login {
            border: 1px solid $bk4;
            padding: 50px 30px;
            border-top: 0;
            form {
                .id-pw {
                    margin-bottom: 20px;
                    text-align: center;
                    input {
                        width: 100%;
                    }
                }
            }
        } */

        .login-form {
            border: 1px solid $bk4;
            border-top: 0;
          /*   background-color: #eeeff1; */
            width: 100%;
           /*  height: 336px; */
           text-align: center;
            padding: 20px;
            margin: 0 auto;

        }

        .text-field,
        .pwd-field {
            width: 83.14285714285714%;
            font-size: 14px;
            margin-bottom: 10px;
            border: none;
            border-radius: 0;
            padding: 10px;
            border-bottom: 1px solid $bk4;

        }
        .pwd-field {
            margin-bottom: 20px;
        }
        .submit-btn {
            font-size: 14px;
            color: white;
            background-color: #000;
            margin-bottom: 30px;
            padding: 10px;
            width: 83.14285714285714%;
        }

        label {
           
           /*  input{
                margin-bottom: 30px;
            } */
        }
        .id-pw-join {
            justify-content: space-between;
        }
    }
}