@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
// @import './register.scss';

    .container{
        .select{
            margin: 0 auto;

            .image-info {
                position: relative;
                display: flex;
                margin: 20px 0 20px 0;
                
                @include responsive(pc-screens) {
                    /* position: relative; */
                    /* margin: 20px; */
                }

                img {
                    width: 40px;
                    margin-right: 16px;

                    @include responsive(pc-screens) {
                        width: 60px;
                    }
                }

                .text {
                    p {
                        @include gothic-font(medium, 12px);
        
                        @include responsive(pc-screens) {
                            font-size: 22px;
                        }
                    }
        
                    strong {
                        font-size: 24px;
        
                        @include responsive(pc-screens) {
                            font-size: 32px;
                        }
                    }
                }

                    
            }
            ul.select {
                @include in_container();
                @include flex_between();
                position: absolute;
                top: 0;
                padding: 0 20px 0 20px;

                @include responsive(pc-screens) {
                    /* width: 42.85714285714286%; */
                    /* right: 20px; */
                    width: 53%;
                    position: absolute;
                    left: inherit;
                }
                
                li {
                    position: relative;
                    height: 45px;
                    border: 1px solid $bk4;
                    margin-top: 70px;

                    @include responsive(pc-screens) {
                        margin-top: 0;
                    }

                    &:first-child {
                        width: 33.33333333333333%;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;

                        &.on {
                            background-color: $bk1;
                            color: white;
                        }
                    }

                    &:nth-child(2) {
                        width: 33.33333333333333%;
                    }
                    
                    &:last-child {
                        width: 33.33333333333333%;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                    @include responsive(tablet-screens) {
                        height: 55px;
                    }

                    span {
                        @include element_center();
                        width: 100%;
                        @include gothic-font(medium, 11px);
                        text-align: center;

                        @include responsive(pc-screens) {
                            font-size: 20px;
                        }
                    }
                    
                    
                }
            } 

        }

        .flex{
            @include responsive(pc-screens) {
                @include flex_between();
            }
            .type {
                border: 1px solid $bk4;
                margin-top: 30px;
                padding: 50px 15px;
                text-align: center;

                @include responsive(pc-screens) {
                    margin-top: 50px;
                }

                &:first-child {
                    margin-top: 100px;
                    
                    @include responsive(pc-screens) {
                        margin-top: 50px;
                    }
                }

                @include responsive(pc-screens) {
                    width: 31.71428571428571%;
                    padding: 80px 20px;
                }

                strong{
                    display: block;
                    margin-bottom: 30px;
                    @include gothic-font(semibold, 24px);
                    span {
                        @include gothic-font(light, 22px);

                    }

                    &:last-child {
                        @include gothic-font(medium, 18px);
                    }
                }

                .fee{

                    &.free {
                        margin-bottom: 30px;
                        @include gothic-font(bold, 21px);
                        color: $dark-brown;
                    }
                    
                    &.hun {
                        margin-bottom: 30px;
                        @include gothic-font(bold, 21px);
                        color: $red-brown;
                    }

                    &.three-hun {
                        margin-bottom: 30px;
                        @include gothic-font(bold, 21px);
                        color: $yellow-brown;
                    }
                }

                
                p {
                    margin-bottom: 30px;
                    @include gothic-font(medium, 18px);
                    color: $bk2;
                    line-height: 26px;
                }

                .button {
                    &.origin{
                        a {
                            width: 100%;
                            button {
                                @include gothic-font(semibold, 22px);
                                padding: 8px;
                                border: 1px solid $dark-brown;
                                border-radius: 5px;
                                background-color: $dark-brown;
                                color: white;
                                width: 100%;
                            }
                        }
                            
                    }

                    &.friends {
                        .request {
                            display: flex;
                            a{
                                width: 100%;
                                button{
                                    @include gothic-font(semibold, 22px);
                                    padding: 8px;
                                    border: 1px solid $red-brown;
                                    border-radius: 5px;
                                    background-color: $red-brown;
                                    color: white;
                                    width: 95%;
                                }
                            }
                        }
                    }

                    &.family {
                        a {
                            width: 100%;
                            button {
                                @include gothic-font(semibold, 22px);
                                padding: 8px;
                                border: 1px solid $yellow-brown;
                                border-radius: 5px;
                                background-color: $yellow-brown;
                                color: white;
                                width: 100%;
                            }
                        }
                    }
                }

            }
        }
        
        div.movePage {
            @include move_page();
        }

    }