@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import './register.scss';

.container {

    div.join-info {
        p {
            text-align: center;
            @include gothic-font(semibold, 15px);
            margin-bottom: 20px;
            margin-top: 100px;

            @include responsive(pc-screens) {
                font-size: 28px;
                margin-bottom: 40px;
            }
        }
        form {
            @include out_container();
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;

            @include responsive(pc-screens) {
                @include in_container();
            }

            label {
                @include responsive(pc-screens) {
                    width: 14.28571428571429%;
                }
            }

            .text {
                border-bottom: 1px solid #000;
                &.id,
                &.date,
                &.phone-certify-name {
                    label {
                        width: 19.71428571428571%;
                        @include gothic-font(semibold, 13px);
        
                        @include responsive(pc-screens) {
                            width: 14.28571428571429%;
                        }

                        @include responsive(pc-screens) {
                            font-size: 22px;
                        }
                    }
                    padding: 10px 20px;

                    @include responsive(pc-screens) {
                        padding: 20px;
                    }
        
                    &:last-child {
                        border: 0;
                    }
                    
                    select,
                    input {
                        padding: 5px;
                        font-size: 12px;

                        @include responsive(pc-screens) {
                            font-size: 18px;
                        }
                    }
                    
                }

                &.id {
                    input {
                        border: 0;
                    }

                }

                &.date,
                &.phone-certify-name {
                    input {
                        border: 0;
                        background-color: $bk6;
                    }    
                }   

                &.date {
                    input {
                        width: 23%;
        
                        @include responsive(pc-screens) {
                            width: 11%;
                        }
                    } 
                    
                    .back {
                        width: 8%;
        
                        @include responsive(pc-screens) {
                            width: 3%;
                        }
                    }
        
                }

                &.phone-certify-name {
                    select {
                        @include full_bg('icon_arrow_bk.svg', index);
                        background-position: right 5px center;
                        background-color: #fff;
                        background-size: 10px;
                        width: 14%;
                        border: 0;
                        background-color: $bk6;
                        margin-right: 4px;

                        &:first-child {
                            margin-right: 10px;
                            
                        }
                        
                        @include responsive(pc-screens) {
                            width: 5.517241%;
                        }
                    }
        
                    input {
                        width: 14%;
        
                        @include responsive(pc-screens) {
                            width: 5%;
                        }
                    }
                }
                
            }
        }  
    }
    .submit {
        text-align: center;
        margin-top: 100px;
        input{
            padding: 10px 15px;
            border: 0;
            color: white;
            background-color: $dark-brown;
            @include gothic-font(semibold, 12px);
    
            @include responsive(pc-screens) {
                font-size: 16px;
                padding: 10px 22px;
            }
        }
    }

    // div.movePage {
    //     @include move_page();
    //     margin-left: 20px;
    //     margin-right: 20px;
        
        
    // }

    
    div.all {

        @include responsive(pc-screens) {
            padding: 0;
        }

        div.join-info {

            @include out_container();
            @include responsive(pc-screens) {
                @include in_container();
            }
            p {
                text-align: center;
                @include gothic-font(semibold, 15px);
                margin-bottom: 20px;
        
                @include responsive(pc-screens) {
                    font-size: 32px;
                    margin-bottom: 40px;
                }
            }
            form {
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
        
                label {
                    @include responsive(pc-screens) {
                        width: 14.28571428571429%;
                    }
                }
        
                .text {
                    &.id,
                    &.date,
                    &.phone-certify-name {
                        label {
                            width: 19.71428571428571%;
                            @include gothic-font(semibold, 13px);
            
                            @include responsive(pc-screens) {
                                width: 14.28571428571429%;
                            }
        
                            @include responsive(pc-screens) {
                                font-size: 26px;
                            }
                        }
                        padding: 10px 20px;
                        border-bottom: 1px solid #000;
        
                        @include responsive(pc-screens) {
                            padding: 20px;
                        }
            
                        &:last-child {
                            border: 0;
                        }
                        
                        select,
                        input {
                            padding: 5px;
                            font-size: 12px;
        
                            @include responsive(pc-screens) {
                                font-size: 20px;
                            }
                        }
                        
                    }
        
                    &.id {
                        input {
                            border: 0;
                        }
        
                    }
        
                    &.date,
                    &.phone-certify-name {
                        input {
                            border: 0;
                            background-color: $bk6;
                        }    
                    }   
        
                    &.date {
                        input {
                            width: 28%;
            
                            @include responsive(pc-screens) {
                                width: 11%;
                            }
                        } 
                        
                        .back {
                            width: 7%;
            
                            @include responsive(pc-screens) {
                                width: 2%;
                            }
                        }
            
                    }
        
                    &.phone-certify-name {
                        select {
                            @include full_bg('icon_arrow_bk.svg', index);
                            background-position: right 5px center;
                            background-color: #fff;
                            background-size: 10px;
                            width: 14%;
                            border: 0;
                            background-color: $bk6;
                            margin-right: 4px;
        
                            &:first-child {
                                margin-right: 10px;
                                
                            }
                            
                            @include responsive(pc-screens) {
                                width: 5.517241%;
                            }
                        }
            
                        input {
                            width: 14%;
            
                            @include responsive(pc-screens) {
                                width: 5%;
                            }
                        }
                    }
                    
                }
            }  
        }
    }
    div.confirm {
        text-align: center;

        input{
            margin-top: 40px;
            border: 0;
            background-color: $dark-brown;
            color: white;
            padding: 8px 15px;

            @include responsive(pc-screens) {
                padding: 13px 20px;
            }
        }
    }

    // div.movePage {
        
    //     @include move_page();

    //     @include responsive(pc-screens){
    //         font-size: 18px;
    //         // margin-top: 0;
    //     }
    // }
}