@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
// @import './register.scss';

    .container {
        padding: 0;
        .select{
            margin: 0 auto;

            .image-info {
                position: relative;
                display: flex;
                margin: 20px;
                
                @include responsive(pc-screens) {
                    position: relative;
                    margin: 20px 20px 0 20px;
                }

                img {
                    width: 40px;
                    margin-right: 16px;

                    @include responsive(pc-screens) {
                        width: 60px;
                    }
                }

                .text {
                    p {
                        @include gothic-font(medium, 12px);
        
                        @include responsive(pc-screens) {
                            font-size: 22px;
                        }
                    }
        
                    strong {
                        font-size: 24px;
        
                        @include responsive(pc-screens) {
                            font-size: 32px;
                        }
                    }
                }

                    
            }
            ul.select {
                position: absolute;
                @include flex_between();
                width: 89.74358974358974%;
                top: 0;
                margin-left: 20px;

                @include responsive(pc-screens) {
                    width: 42.85714285714286%;
                    right: 20px;
                }
                
                li {
                    position: relative;
                    height: 45px;
                    border: 1px solid $bk4;
                    margin-top: 70px;

                    @include responsive(pc-screens) {
                        margin-top: 0;
                    }

                    &:first-child {
                        width: 25.71428571428571%;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    &:nth-child(2) {
                        width: 48.57142857142857%;
                        &.on {
                            background-color: $bk1;
                            color: white;
                        }
                    }
                    
                    &:last-child {
                        width: 25.71428571428571%;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                    @include responsive(tablet-screens) {
                        height: 55px;
                    }

                    span {
                        @include element_center();
                        width: 100%;
                        @include gothic-font(medium, 14px);
                        text-align: center;

                        @include responsive(pc-screens) {
                            font-size: 20px;
                        }
                    }
                    
                    
                }
            } 

        }
        /* .image {
            display: flex;
            margin: 0 20px 15px 20px;

            @include responsive(pc-screens) {
                margin-bottom: 0;
            }

            img {
                width: 36px;
                margin-right: 16px;

                @include responsive(pc-screens) {
                    width: 70px;
                }
            }
            p {
                @include gothic-font(medium, 12px);

                @include responsive(pc-screens) {
                    font-size: 22px;
                }
            }

            strong {
                font-size: 24px;

                @include responsive(pc-screens) {
                    font-size: 46px;
                }
            }
        } */

        .join-term {
            p.title {
                @include gothic-font(semibold);
                text-align: center;
                margin-bottom: 20px;
                margin-top: 100px;

                @include responsive(pc-screens) {
                    font-size: 28px;
                    margin-bottom: 40px;
                }
            }

            form {
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
                    @include responsive(pc-screens) {
                        padding: 0;
                    }
                    .agr-plus{
                        border-bottom: 1px solid #000;
                    
                        &:last-child {
                            border-bottom: 0;
                        }
                        
                        .agr {
                            position: relative;
                                .agr-whole{
                                    padding: 10px 20px;
                                    
                                    @include responsive(pc-screens) {
                                        padding: 15px 20px;
                                    }

                                    input {
                                        width: 20px;
                                        height: 20px;
                                        margin-right: 5px;
                                    }
                                }
                                
        
                                .plus {
                                    position: absolute;
                                    right: 20px;
                                    top: 10px;
                                    
                                    @include responsive(pc-screens) {
                                        top: 15px;
                                    }

                                    span {
                                        font-size: 13px;
                                        margin-right: 6px;
            
                                        @include responsive(pc-screens) {
                                            font-size: 23px;
                                            margin-right: 10px;
                                        }
                                    }
            
                                    .dropdown {
                                        @include icon_rotate(180deg);
                                        width: 10px;

                                        @include responsive(pc-screens) {
                                            width: 23px;
                                            height: 10px;

                                        }
                                    }
                                }
        
                                &:last-child {
                                    border-bottom: 0;
                                }
        
                                input[type=checkbox] + label {
                                    font-size: 14px;
                                    margin-left: 0;
                                    @include responsive(pc-screens) {
                                        font-size: 23px;
                                    }
                                }
                                strong {
                                color: red;
                                font-size: 13px;

                                    @include responsive(pc-screens) {
                                        font-size: 20px;
                                    }
                                }
        
                            .agree-term{
                                display: none;
                                background-color: $bk6;
                                @include responsive(pc-screens) {
                                    background-color: $bk6;
                                    display: block;
                                }
                                p {
                                    color: $bk1;
                                    padding: 20px;
                                    text-align: justify;
                                    line-height: 20px;

                                    @include responsive(pc-screens) {
                                        font-size: 22px;
                                        padding: 40px 60px;
                                        line-height: 40px;
                                    }

                                    span {
                                        display: block;
                                        @include gothic-font(medium);
                                        margin-bottom: 10px;

                                        &:last-child {
                                            margin-top: 10px;
                                        }

                                        @include responsive(pc-screens) {
                                            color: $bk1;
                                            margin-bottom: 20px;
                                            font-size: 22px;
            
                                            &:last-child {
                                                margin-top: 50px;
                                            }
                                        }
                                    }
                                }

                                .first-pre {
                                    overflow-y: scroll;
                                    height: 200px;
                                    padding: 20px;
                                    text-align: justify;
                                    white-space: pre-line;
                                }

                            }

                            .agree-person {
                                display: none;
                                background-color: $bk6;
                                @include responsive(pc-screens) {
                                    display: block;
                                }
                                p {
                                    padding: 20px;
                                    color: $bk1;
                                    line-height: 20px;
                                    text-align: justify;

                                    @include responsive(pc-screens) {
                                        padding: 40px 60px;
                                        line-height: 40px;
                                        font-size: 22px;
                                    }
        
                                    span {
                                        display: block;
                                        @include gothic-font(medium);
                                        color: $bk1;

                                        &:first-child {
                                            margin-bottom: 10px;

                                            @include responsive(pc-screens) {
                                                margin-bottom: 20px;
                                            }
                                        }

                                        @include responsive(pc-screens) {
                                            font-size: 22px;
                                            margin-bottom: 26px;
                                        }
                                        
                                    }

                                    .preservation {
                                        margin-top: 30px;
                                        @include responsive(pc-screens) {
                                            margin-top: 60px;
                                        }
                                    }
                                }

                                .second-pre {
                                    /* overflow-y: scroll;
                                    height: 100px; */
                                    padding: 20px;
                                    justify-content: space-between;
                                    white-space: pre-line;
                                }
                            }
                        }
                    }
            }
        }
    }
    div.movePage {
        @include move_page();
        margin: 40px 20px 0 20px;
    }